import React from 'react';
import SegmentedProgressBar from './SegmentedProgressBar';

export default function SegmentedProgressBarExample(props) {
  return (
    <SegmentedProgressBar
      current={props.current}
      total={props.total}/>
  );
}
