# Creating a test run in TestRail

*Preconditions: You are currently viewing the "Overview" page for your project.*

1. Navigate to the "Test Runs & Results" tab
1. Click "Add Test Run"  
![TestRail create test run example][testrails-execute-tests-create-run]
1. Enter a relevant name.  The default includes a date which may be advisable to help keep you organized.  
![TestRail create test run details][testrails-execute-tests-create-run-details]
1. Assign the test run to the relevant Milestone.
1. If you will be executing the test run then be sure to assign it to yourself using the "Assign To" dropdown.
1. Enter a detailed description of the scope and goal of the test run.  For example, "Mid-sprint test run which will verify the functionality of the user stories (123, 124, 125, and 126) which have been marked feature complete by developers."
1. Choose the correct option to include the relevant test cases.  In all likelihood, you will need to use "Select specific test cases" and use the built in filtering UI to select a subset of the test cases you have created for this project.  
![TestRail create test run details][testrails-execute-tests-create-run-select-tests]
1. Now that you have a test run.  It's time to execute your tests!

[testrails-execute-tests-create-run]: ../images/testrail-tutorials/execute-tests-create-run.png
[testrails-execute-tests-create-run-details]: ../images/testrail-tutorials/execute-tests-create-run-details.png
[testrails-execute-tests-create-run-select-tests]: ../images/testrail-tutorials/execute-tests-create-run-select-tests.png
