.va-crisis-line {
  @include media($medium-large-screen) {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.va-crisis-panel {
//  color: $color-primary-darkest;
  list-style: none;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  position: relative;
  z-index: 1;
  width: 100%;

  li {
    &:nth-child(odd) {
      border-top: 1px solid $color-gray-lighter;
      border-bottom: 1px solid $color-gray-lighter;
    }

    a {
      color: $color-base;
      display: block;
      padding: 1.5rem 0;
      text-decoration: none;
    }
  }

  @include media($medium-large-screen) {
    margin: auto;
    max-width: 50%;
  }

  a {
    @include no-sr-content;

    padding: 0;
    background-image: none;

  }
}

.va-crisis-panel-body {
  background: $color-white;
  height: auto;
  list-style: inherit;
  margin: 0;
  max-height: 100%;
  padding: 0;

  ul {
  //  font-size: 1.7rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

button.va-crisis-line-button {
  background: $color-white url(/img/arrow-right.svg) calc(100% - 0.5em) center no-repeat;
  background-size: .8em auto;
  border-radius: 0;
  color: $color-base;
  margin: auto;
  padding: 0.4em 26px 0.3em 0;
  font-size: 1em;
  width: auto;
  display: block;
  text-decoration: none;
  font-weight: bold;

  @include media($medium-large-screen) {
    border-radius: 0 0 0.2em 0.2em;
    box-shadow: 0 2px 5px $color-base;
    padding: 0 26px 0 0;
    text-align: left;
  }

  &:hover {
    background-color: $color-white;
    color: $color-base;
  }

  .vcl {
    content: "";
    background: url(/img/vcl-logo.png) no-repeat right 29%;
    background-size: 100%;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0.3em 0.5em -0.3em 0.5em;
  }

  > .va-flex {
    align-items: center;
    pointer-events: none;
  }
}

.va-footer-vcl-trigger {
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  text-decoration: underline;

  &:hover {
    background: inherit;
    color: $color-gold;
    text-decoration: inherit;
  }
}
