.rx-glossary-section {
  width: 100%;
  clear: both;
}

.rx-glossary {
  margin: 3rem 0 6rem;

  dt, .glossary-title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .glossary-body {
    margin-top: 0;
    padding-top: 0;
  }
}
