# Results of user acceptance testing (UAT) for Form 21-686c / production environment
**VSA eBenefits Team | June 2021**

`James Adams, designer/researcher`

---

## User acceptance testing
Five UAt sessions were conducted from June X to June Y, 2021. X of Y users participated.

## UAT testing of direct deposit for EDU

| UAT item | DNS | DNS | DNS | P4 | P5 | P6 | P7 | P8 |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: |
| After login, intro screen allows access | -- | -- | -- | X | -- | -- | -- | -- |
| Checkboxes function, workflow selection(s) made | -- | -- | -- | X | -- | -- | -- | -- |
| Veteran info screen presents correct user data | -- | -- | -- | X | -- | -- | -- | -- |
| Address, phone and email are pre-filled | -- | -- | -- | X | -- | -- | -- | -- |
| User can make corrections and proceed | -- | -- | -- | X | -- | -- | -- | -- |
| Chosen workflow form fields function properly | -- | -- | -- | X | -- | -- | -- | -- |
| Required form fields display error states when left incomplete or are completed improperly | -- | -- | -- | X | -- | -- | -- | -- |
| Form advances correctly | -- | -- | -- | X | -- | -- | -- | -- |
| User can backtrack through form as needed | -- | -- | -- | X | -- | -- | -- | -- |
| File finder window opens when upload documents button is clicked | -- | -- | -- | X | -- | -- | -- | -- |
| User can locate and select file(s) | -- | -- | -- | X | -- | -- | -- | -- |
| Selected files upload properly | -- | -- | -- | X | -- | -- | -- | -- |
| Review accordions are present and contain correct information | -- | -- | -- | X | -- | -- | -- | -- |
| Review edit function allows corrections | -- | -- | -- | DNS | -- | -- | -- | -- |
| Form submits and user is presented with confirmation screen | -- | -- | -- | X | -- | -- | -- | -- |
| Submission data appears in Claim Status Tool | -- | -- | -- | X | -- | -- | -- | -- |

\* Participant 6 does not receive educational payments from VA. The DD screen correctly displated the "no-EDU-payments" text.

-- = Did not occur in testing/Participant did not show

? = Did not observe result 
<!--
## Conclusion
UAT was successful. The DD-EDU tool preformed well; participants were uniformly satisfied with the appearance and function of the tool. The "cancel" function was not observed during testing. Two potential areas to address are:
- Duration of success message after submitting new bank info
- The location of the success message may need to be in proximity to edit box
-->

---
