# Results of user acceptance testing (UAT) of Direct Deposit for Educational Payments (DD-EDU) feature
**VSA AuthdExp/eBenefits Teams | March 2021**

`James Adams, designer | Slack: @Jim Adams | GH: Sporeboy`

---

## User acceptance testing
Lorem ipsum dolor sit amet.

## UAT testing of direct deposit for EDU

| UAT item | P1 | DNS | P3 | P4 | P5 | P6* | DNS | DNS |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: |
| After login, intro screen allows access | X | -- | X | X | X | X | -- | -- |
| Direct deposit information link appears in left-hand navigation | X | -- | X | X | X | X | -- | -- |
| User navigates to Direct deposit screen | X | -- | X | X | X | X | -- | -- |
| User confirms payment type(s) are correct (EDU, C&P, both) | X | -- | X | X | X | (C&P) | -- | -- |
| User confirms bank info looks accurate | X | -- | X | X | X | (C&P) | -- | -- |
| Unpopulated form opens | X | -- | X | X | X | -- | -- | -- |
| Screen accepts user input | X | -- | X | X | X | -- | -- | -- |
| Confimation modal shows | -- | -- | -- | -- | -- | -- | -- | -- |
| Success message shows | ? | -- | X | X | ? | -- | -- | -- |
| User confirms bank info looks accurate | X | -- | X | X | X | -- | -- | -- |
| User confirms email received | ? | -- | X | X | X | -- | -- | -- |

\* = Participant 6 does not receive educational payments from VA. The DD screen correctly displated the "no-EDU-payments" text.

-- = Did not occur in testing/Participant did not show

? = Did not observe result 

## Conclusion
Lorem ipsum dolor sit amet.

---
