# Results of user acceptance testing (UAT) of Direct Deposit for Educational Payments (DD-EDU) feature
**VSA AuthdExp/eBenefits Teams | March 2021**

`James Adams, designer | Slack: @Jim Adams | GH: Sporeboy`

---

## User acceptance testing
Lorem ipsum dolor sit amet.

## UAT testing of direct deposit for EDU

| UAT item | P1 | DNS | P3 | P4 | P5 | P6 | DNS | DNS |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: |
| After login, intro screen allows access | -- | -- | -- | -- | -- | -- | -- | -- |
| Direct deposit information link appears in left-hand navigation | -- | -- | -- | -- | -- | -- | -- | -- |
| User navigates to Direct deposit screen | -- | -- | -- | -- | -- | -- | -- | -- |
| User confirms payment type(s) are correct (EDU, C&P, both) | -- | -- | -- | -- | -- | -- | -- | -- |
| User confirms bank info looks accurate | -- | -- | -- | -- | -- | -- | -- | -- |
| Unpopulated form opens | -- | -- | -- | -- | -- | -- | -- | -- | 
| Screen accepts user input | -- | -- | -- | -- | -- | -- | -- | -- |
| Confimation modal shows | -- | -- | -- | -- | -- | -- | -- | -- |
| Success message shows | -- | -- | -- | -- | -- | -- | -- | -- |
| User confirms bank info looks accurate | -- | -- | -- | -- | -- | -- | -- | -- |
| User confirms email received | -- | -- | -- | -- | -- | -- | -- | -- |

## Conclusion
Lorem ipsum dolor sit amet.

---
