import React from 'react';
import ErrorableNumberInput from './ErrorableNumberInput';

export default function ErrorableNumberInputExample(props) {
  return (
          <ErrorableNumberInput
            onValueChange={(e) => e}
            {...props}/>
  );
}
