import React from 'react';
import SortableTable from './SortableTable';

export default function SortableTableExample(props) {
  return (
    <SortableTable
      {...props}>
    </SortableTable>
  );
}
