import React from 'react';
import LoadingIndicator from './LoadingIndicator.jsx';

export default function LoadingIndicatorExample(props) {
  return (
    <LoadingIndicator
      message={props.message}
      setFocus={props.setFocus}/>
  );
}
