.gi-app .landing-page {

  p.subheading {
    color: $color-primary;
    letter-spacing: normal;
    font-size: 1.25em;
  }

  .eligibility-form h2 {
    display: none;
    visibility: hidden;
  }

  .video-sidebar h5 {
    margin-top: .5em;
    padding: 0;
  }

}
