# Conversation Guide for IVC team, CHAMPVA Claims (form 10-7959a), Resubmissions and File Verification 06/2025

## Moderator logistics 📋✅
### 2-3 days before the session

> [!NOTE]
> Review VA Platform's [Research Checklist](https://depo-platform-documentation.scrollhelp.site/research-design/research-checklist).

### Before all sessions
- [ ] Review all guidelines for moderating
- [ ] Review research goals
- [ ] Check the link for the prototypes to ensure they are working
- [ ] Review participant list for name and screen order

### Day of the session
> [!TIP]
> - Use [#feedback-backchannel](https://dsva.slack.com/messages/C40B45NJK/details/) in Slack for real-time feedback from observers.
> - Mute your Slack notifications.
> - Send out the [observer instructions](https://depo-platform-documentation.scrollhelp.site/research-design/Observer-guidelines.1622311177.html) to your observers (Slackbot will do this for you if you type "observer instructions" into [#feedback-backchannel](https://dsva.slack.com/channels/feedback-backchannel)).

- [ ] Start a thread in the #feedback-backchannel
- [ ] Sign into Perigean’s Zoom and start the meeting (see email for login details)
- [ ] Turn on transcriptions by clicking LIVE TRANSCRIPT and ENABLE
- [ ] Check Zoom settings and make sure participants have permission to share
- [ ] Change your name in Zoom
- [ ] In the Participant “more” menu, make sure “Play Join and Leave Sound” is unchecked
- [ ] Open conversation guide
- [ ] Open prototype (be ready to screenshare if needed)
- [ ] Copy link to the prototype into Zoom chat
- [ ] Mute your Slack notifications


### Starting the session

> [!TIP]
> - In the Attendees section, make sure everyone except the participant is on mute.
> - In the Participant "more" menu, make sure "Play Join and Leave Sound" is unchecked
> - Check your [screensharing setup] and share permissions for participants.
> - When the participant is ready, begin the session with the following intro*

- [ ] Turn camera on
- [ ] If participant doesn’t arrive after 2 minutes, Slack Perigean in the study channel
- [ ] If participant is a no-show, Slack team in #feedback-backchannel
- [ ] When the participant is ready, begin the session with the intro


# Intro - 5 minutes

Thanks for joining us today! My name is **[NAME]** and **[NOTETAKER NAME]** is taking notes. I also have a couple other colleagues in the Zoom waiting room who would like to observe and take notes. But before we get to them... 

Today we’re going to talk about VA Form 10-7959a to submit a claim for the Civilian Health and Medical Program of the Department of Veterans Affairs benefits, otherwise known as CHAMPVA. CHAMPVA is a cost-sharing program for spouses and children of Veterans with disabilities who don’t qualify for Tricare.

Before we start, I have a few things that I want to go over with you:

- **This entire session should take about 60 minutes.** I want to be sure not to keep you much longer, so I may occasionally prompt you with the next question or topic.
  
- **In this session, we want to hear your honest opinions.** There are no right or wrong answers; we are not testing your knowledge or abilities. I welcome any and all of your feedback, and I won't be offended by any opinions you express.
  
- **Your participation in this interview is completely voluntary.** You do not have to participate if you don't want to. Whether you choose to participate or not will not affect your benefits in any way with the VA. If you would like to stop the session or do not want to answer a question for any reason at any time, that's no problem. Please let me know.
  
- I know the folks who invited you to participate in this interview asked if it was alright to allow people to observe this interview, but I want to double-check with you before we get going. **Are you okay with a couple of additional observers during this session?**
   - <mark>**If no:** Use Slack to kindly ask the observers to leave the Zoom.</mark>
   - **If yes:** Admit observers.
     
> [!TIP]
> - Then, ask the notetaker and observers to **give a brief, camera-on introduction, like their first name and position with VA.gov.** (This is meant to humanize the interaction of observation for the participant.)
> - Once complete, ask the notetaker and observers to turn off their cameras for the remainder of the session to save bandwidth
     
- **You'll be interacting with a prototype today.** This is a demo tool that may not function exactly the way you expect. Some areas of the prototype will be clickable, and some will not. <mark>**Since it's a demo, none of your actions will affect your VA information or benefits.**</mark>
  
- **Are you comfortable if I record my screen and audio as we talk today?** We use the recordings to confirm that we have captured your opinions accurately. After we complete the analysis, the recordings are destroyed, and none of your comments will be attributed to you directly. We either report findings out in groups (i.e., 5 out of 10 participants said this), or if we want to quote you directly, we take away any identifying information and give you a participant ID, like P7.
   - **Knowing that, are you comfortable if I record my screen and audio as we talk today?**

   <mark>**[Record answer here]**</mark>
     
- **Would you be comfortable if we decided to use a clip of our session with you to help our partners understand Veterans’ experiences?** One of the ways that we share findings with our partners across the VA is by showing short video clips of sessions with Veterans. In these video clips, we blur out any information that could possibly be used to identify you, like your onscreen image. Sharing these video clips can be a compelling way for our partners to better understand what Veterans go through when using VA.gov and our digital products. These clips will not be shared outside of the VA. We don't know at this point if we will or not, but we like to ask ahead of time. At the end of the interview, I'll also confirm that this is okay with you, so you will get a chance to veto this once you know what we've discussed.
   - **Knowing this, would you be comfortable if we decided to use a clip of our session with you to help our partners understand Veteran's experiences?**
 
   <mark>**[Record answer here]**</mark>

   - If yes: **Once I start recording, I am going to confirm that you are okay with me recording this session once more.**

➡️ **Start recording.**

- **I have started recording.** I'd like to confirm: Are you comfortable if I record my screen and the audio as we talk today?

 <mark>**[Record answer here]**</mark>
 
- **Are you comfortable if we decide to use a recorded clip from our discussion today to share with other VA partners if we remove any information that can be used to identify you?**

 <mark>**[Record answer here]**</mark>

# Warm-up Questions (Optional) - 5 minutes

Before we look at the website, let’s start with a few warm-up questions.

 - Are you or anyone else in your household currently enrolled in the CHAMPVA program?
   - IF ENROLLED: How recently did you apply for/enroll in the CHAMPVA program?
   - What was your application experience like, if you can recall?
 
   - Have you submitted any medical claims to the CHAMPVA program?
     - IF YES:
       - What was your experience like?
       - Did you submit your medical claims using a paper/PDF form, or online?
       - Do you recall if you received any mail from the CHAMPVA program about your claim before it was processed?
       
 - (Optional, omit for time) Do you have a VA.gov account?
   - IF YES: What has been your experience with logging into the site?
     
  - How often/for what tasks are you logging into VA.gov? 
      - How often are you visiting VA.gov? 
      - For what tasks?

### For only assistive tech users
 - What assistive technology are you using right now?
   - (If Dolphin screen reader, won't be able to share screen on Zoom)
 - (If no AT) Do you sometimes use assistive technology while using VA.gov or filling out a form online?
   - If so, what do you use and when? 
   - *Would you be willing to start using it now in this session?* (if not, run session w/o AT, or stop and ask Perigean for a replacement participant)
 - How would you rate your level of experience with using a screen [reader/magnifier] -- beginner, intermediate, advanced or expert?
 - How long have you been using a screen [reader/magnifier]?
 - Have you ever shared your screen in Zoom while using a screen [reader/magnifier] before?
 - Is there anything else that we can do to support you during this session? (RECORD AND DO!)

Thank you for sharing your experiences with VA.

## Task Zero: [Screen share] - 5 minutes

I'm going to drop a link in the chat, which I'd like you to open in your browser and then share your screen in Zoom. I can help walk you through how to share your screen, but I want to give you a moment to close any other browser windows, tabs or applications you may have running, and silence notifications on your [computer/phone] so it doesn't interfere. Let me know when you're ready for the link.

[Wait for participant's verbal consent.]

Great! I'm pasting the link to the site in the chat. You can find that in the row of buttons at the bottom, under the chat icon:

Send link in Zoom chat
[Link to Staging](update) 

Can you open the link in the chat?
Do you know how to share your screen on Zoom?
 - IF YES: Great. Before you share your screen take a moment to close out anything you don't want me to see. And if you haven’t already, please put your phone in DO NOT DISTURB mode to mute your notifications. Let me know when you are ready. Great! Please share your screen now.
 - IF NO: I’ll walk you through how to do that…

### Screen sharing instructions (if needed)
<details> - In the Zoom application on your computer, there's a row of buttons at the bottom. In the center is a button that says Share (on phone, may need to scroll sideways or click More...)
  
  - If you don't tap the screen for a while, all the buttons at the bottom will hide. To get them back, you can tap/click anywhere on the screen, and they'll show up again.
    
  - (If you have more than one screen, the row of buttons may be on the screen that's being shared)

 - Now I'd like you to share your screen with me. Tap on the button that says Share. Then there will be options for what to share. Please choose "Screen" (phone) or your web browser.

 - Great, now I can see your screen! Thank you for your patience in figuring this out.

 - iPad: Broadcast screen

 - [Avoid AI Companion, which is a new option next to “Share” in the Zoom buttons]

 - If having difficulty moving windows around or opening the prototype, you could request control of the participant’s screen and mouse in Zoom: <Name>’s screen tab > Request remote control. Then you can move/resize browser (but not zoom windows/buttons) and type into browser bar. The participant may need to minimize the zoom video view, and drag the zoom buttons to the bottom of the screen so out of the way.

Thanks! Now I’m able to see your screen too.</details>

## First Task: New Claim - 15-20 minutes

Before you start filling out the form, a few things to be aware of:
 - This is our testing site so you don't have to worry about the information that you enter going anywhere. Nothing you click on in this form will have any bearing on your benefits.
 - As we go through the form today, feel free to use fake information for sensitive questions, such as Social Security Numbers, if you don't want to use your real information.
 - You may be asked to upload some documents; as we're not submitting the form and this isn't attached to VA systems, nothing you upload there will be sent to the VA. When we get to the screens that ask for a file to upload, you can upload something random from your desktop, or I can provide a sample PDF for you to use. I'll ask you what you'd like to do when the time comes.
 - Do you have any questions? [Wait for participant answer.]


### Intro page
Without clicking on anything. I’d like you to take a look at the information on this page. Tell us your initial thoughts.

 - In your own words, what type of form is this page describing?
   - Do you know what types of claims you can file?
 - What information do you think you’d need in order to fill out this form?
 - Do you have all that information on hand, or would you need to pause to find it if you were really submitting a claim today?
 - Without clicking anything, do you know how to start this form without a VA.gov account? Can you show me?
 - On a scale of 1-5 (with 1 being poorly and 5 being very well) - how prepared do you feel to file a claim based on this page's content? Why did you give it that rating?

> Things to watch for:
>  - [Does the participant read through the documentation required to submit a claim?]
>  - [Does the participant locate the “start your form” and “supporting documents” links?]
>  - [Does the participant indicate they would need to pause to gather information, or would need to coordinate with others to complete the application together?]


### Begin Claim
Now I'd like you to start the form as if you are submitting a new claim for [yourself/your spouse]. I'll let you know when to pause so I can ask some questions.

 - As a reminder:
   - This is our testing site so you don't have to worry about the information that you enter going anywhere. Feel free to use fake information for sensitive questions such as your social security number or birth date that you don't want to share.
   - As you go through the form, please remember to think out loud. We want to hear any reactions you have as you're experiencing them.


### CHAMPVA benefit status [pause the participant]
 - What do you think would happen if you selected “no” on this page?
 - For the purposes of this test, please select yes and continue.

You can continue entering information until you reach section 4. I’ll let you know when to pause so I can ask some questions.

> Things to watch for:
>  - [What does the term 'sponsor' mean to the participant?]
>  - [Does the participant understand filling out the sponsor loop?]
>  - [Does the participant hesitate or react to the resubmission question?]


### Health Insurance Loop [pause the participant]
 - Why do you think you’re being asked for this information?
 - Please go ahead and add an insurance policy here. 
 - **Policy Information**
   - You can make up information for this page, but if you were filing a claim for real, would you need to pause here to find this information?


### Claim information [pause the participant]
 - For this test, you’re going to submit a medical claim. 
 - Please continue through the form until you reach a file upload page.
 - As a reminder, please think aloud as you’re going through the form.

> Things to watch for:
>  - [Does the user hesitate or seem confused by the work or car accident questions?]


### Upload Supporting Documents (file verification)
*Ask these questions on each upload page*

 - Before you upload anything, what documentation are you being asked for here?
 - Do you understand what needs to be included on the document?
 - I'll provide a document for you to upload here. I'm dropping it in the chat now.
   - *Use [sample-billing-statement] or [sample-EOB] depending on the page*
   - If you hover over the file, you should see three dots you can click on and choose download.
   - When you're ready, please upload that file in the form.
 - [while waiting for scan to complete] 
   - Do you understand why the upload might be taking a little longer?
 - [error message] 
   - What do you think this error means?
   - What would you need to do to resolve it?

**Participant rating** (Before repeating the loop or moving to the next task)
- Based on your experience uploading supporting files for your claim today, do you prefer the file verification or would you prefer no file verification? Why/why not?
- On a scale of 1 to 5, with 1 being very hard and 5 being very easy, how difficult or easy was it to upload files to support your CHAMPVA claim?

 - Let’s move on to the next page (loop through questions again if another upload)

> Things to watch for:
>  - [Does the user read through the document requirements without being prompted?]
>  - [Does the user understand the error message?]
>  - [Does the user seem concerned about having their documentation scanned for verification?]
>  - [Does the user understand they can continue without correcting the error if they want to?]


### Review & Submit
 - Without clicking submit, review your CHAMPVA claim.
 - If you accidentally input some information wrong, say your family member's name, how would you fix that?
 - Without clicking anything, if you submitted the form, what would you expect to happen next?
 - How soon do you expect to be notified about your claim?
 - You won't be able to submit the application in this test form, so you can stop here, and we just have a few more questions for this task.


### After completing the task: 
#### Participant rating:
On a scale of 1-5 (with 1 being very hard and 5 being very easy) - how difficult or easy was it to complete the CHAMPVA claim form? Why did you give it that rating?


## Second Task: Sendback Letter - 5-10 minutes

For this task, I’m going to provide you with another link that I'd like you to open in a new tab on the same browser. This will be a letter that you received from CHAMPVA regarding a claim you filed. 

*[provide Figma link to sample sendback letter]*

### Letter
 - Please read through this letter carefully and pretend it’s about a claim [you/your spouse] previously submitted. Let me know when you’re done reading.
 - Do you understand the purpose of this letter?
 - Why do you think you’re being sent this letter?
 - What would you need to do to resolve it?

#### Participant rating
 - On a scale of 1-5 (with 1 being poorly and 5 being very well) - how well does this letter **explain** what you need to do in order to resolve the problem with your CHAMPVA claim?
 - On a scale of 1-5 (with 1 being poorly and 5 being very well) - how **prepared** do you feel to resolve this claim based on this letter's content? Why did you give it that rating?

> Things to watch for:
>  - [Does the participant think they need to call CHAMPVA for more information?]
>  - [What steps does the participant think they need to take with doctor's office/their insurance provider to resolve the issues in the send back letter?]
>  - [Does the participant understand that they can resubmit the claim online?]

## Third Task: Resubmission - 15 minutes

### Claims form
 - We’re going to go back to the Claims form, but we aren't going to use the form you already started.
 - Please click the link I sent you at the beginning of this call to open a new window. 
   - I can drop the link in the chat again if you need it.
   - *[provide link to form]*

### Intro page
 - This is the form we used before.
 - Looking at this page, do you think you’re in the right place to resubmit your claim?
 - What information do you think you’ll need to resubmit your claim?
 - Please go ahead and start the form without signing in.

> Things to watch for:
>  - [Does the participant seem confident they can use this form to resubmit a claim?]

### Begin Claim
Now I'd like you to go through this form as if you are resubmitting the claim [you/your spouse] received a letter about. I'll let you know when to pause so I can ask some questions.

 - As a reminder:
   - This is our testing site so you don't have to worry about the information that you enter going anywhere. Feel free to use fake information for sensitive questions such as your social security number or birth date that you don't want to share.
   - As you go through the form, please remember to think out loud. We want to hear any reactions you have as you're experiencing them.

### Claim status [pause the participant]
 - What option do you think you need to select here?
 - What do you expect to see next if you select resubmission?
 - *Continue*

### Claim identifier [pause the participant]
 - Do you know what information you’re being asked for here?
 - Do you know where to find this information?
 - Please enter this information and continue. I’ll pause you if I need to ask a question.
 - [If the participant types in a random number]
   - What would you do if this was a real claim? Where would you find this number?

[Allow time for the participant to find and enter this information. Only prompt them if they seem lost.]

> Things to watch for:
>  - [Is the participant confused by PDI/Claim Control language?]
>  - [Does the participant refer to the letter without being prompted?]
>  - [Can the participant find the PDI number on the sendback letter?]

### Claim Type, Claim Details
 - [If participant response doesn’t match the letter]
   - It doesn’t matter what you enter here for this test, but where do you think you would find this information if this was a real claim?

> Things to watch for:
>  - [Does the participant refer back to the letter for this?]

### Upload page [pause the participant]
 - Do you know what you’re being asked for on this page?
 - What do you need to upload?
 - You can either upload something you already have on your computer or I can send you a file.
 - [After 1st upload]
   - We’re going to see some errors, but we can bypass them since we already talked about that during the first claim
   - How important is it to you that the file is scanned for verification?
   - Do you think you would need to upload anything else? 
 - How would you upload another file?
 - We can continue without the other uploads for this test.

**Participant rating** 
- On a scale of 1 to 5, with 1 being very hard and 5 being very easy, how difficult or easy was it to find and provide information related to your previous CHAMPVA claim?

> Things to watch for:
>  - [Does the participant realize they would need to upload both a new document and the original documents?]

### Sponsor Information, Beneficiary Information
 - Why do you think you’re being asked for this information?

### Review & Submit
 - Would you do anything differently on this page knowing that this is a resubmission?
 - Without clicking anything, if you submitted the form, what do you expect to happen next?
 - Would you expect any difference in processing or response time with a resubmission?

You won't be able to submit the claim in this test form, so you can stop screen sharing now. We have just a few more questions for you before we end the call.

### After completing the task: 
#### Participant rating:
On a scale of 1-5 (with 1 being very hard and 5 being very easy) - how difficult or easy was it to complete this form? Why did you give it that rating?


# Post-Task Interview - 5 minutes

*[Type into #feedback-backchannel: "Any questions you want me to ask?"]*

 - Overall, was there anything you saw in this session that worked well for you?
 - What was unclear or didn't work well for you?
 - What are your thoughts about the amount of information provided in this form?
 - [If the participant is a current CHAMPVA beneficiary] 
   - How would you compare the forms you just completed to your experience filling out a CHAMPVA claim previously? Why?
 - Any questions for me?


## Consent to use video clips

- I want to circle back and re-confirm that **you are comfortable if we were to share a video clip of this session with our VA partners?** Just to remind you, we will remove all information that could be used to identify you before sharing and will only share the videos with VA partners with the purpose of improving VA.gov and other digital experiences.
   - **If yes:** Is there any part of our discussion you would NOT want shared in a video clip?
 
   <mark>**[Record answer here]**</mark>


# Thank-You and Closing - X minutes

Well we really appreciate you taking the time to share your thoughts with us today. Your feedback is so helpful to us as we continue to work on the site and make sure it really works for Veterans.

Thanks! Lastly, Perigean will be sending you a thank you note with a little blurb that you can pass along to other Veterans you may know to provide them the chance to participate in future research studies.

Thank you so much again, and enjoy the rest of your day!

# After Session
 - Click "End" on Zoom website
 - Return to the beginning of the form in staging to remove all information entered
 - Download recording and .vtt file


# Emergency Exit 🚨

We have covered all the questions I have for you today. I'm going to stop the recording. Thank you so much for your time and feedback!
