// Styles for card navigation elements

.va-cards {
  display: block;
  // TODO: Remove !important when
  // #content .main .section.one ul is cleared up
  margin: 0 !important;
  min-width: 300px;
  padding: 0;
}

@include media($medium-screen) {
  .va-cards--3across,
  .va-cards--2across {
    @include clearfix;
  }

  .va-cards--3across {
    > .va-card {
      width: 33%;
    }
  }

  .va-cards--2across {
    > .va-card {
      width: 50%
    }
  }
}

.va-card {
  border-color: transparent;
  border-style: solid;
  border-width: 0 0.625rem 1.25rem 0.67rem;
  list-style: none !important;
  position: relative;
  padding: 0;

  @include media($medium-screen) {
    float: left;
  }

  a {
    color: inherit;
  }
}

// This can be any element, but usually an
// `a` or `div`
.va-card-body, .va-card a {
  @include transition(all, 0.3s, ease-in-out);
  background: $color-primary-darker;
  border-radius: .2em;
  color: $color-white !important;
  display: block;
  font-weight: normal;
  height: 11em;
  padding: .45em .75em;
  text-align: left;
  text-decoration: none;

  &:active, &:hover, &:focus {
    background: $color-primary;
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
    box-shadow: 0 0 5px $color-link-default-hover;
  }

  + ul,
  + ol {
    margin: 1em 1.2em 0 2em !important;
  }

  @include media($medium-screen) {
    padding: 1.25em;
  }
}

.va-card-title {
  color: $color-white !important;
  font: 600 1.35em / 1.3em $font-sans !important;
  margin: 0 !important;
  padding: 0 0 .25em 0 !important;

  a {
    text-decoration: none;
    background-color: transparent;
  }
}
