// Category navigation AKA "piano keys"
// pattern. These are the links at the bottom
// of secondary-level pages.

.va-nav-category {
  color: $color-gray-dark;
  list-style: none;
  padding: 0;
  margin: 0 -0.625rem;

  &::before, &::after {
    clear: both;
    content: " ";
    display: table;
  }

  li {
    border-bottom: 1px solid $color-gray-light;
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
  }

  a {
    color: $color-gray-dark;
    border-radius: 0;
    border-left: 4px solid transparent;
    border-bottom: none;
    box-shadow: none;
    display: block;
    text-decoration: none;
    padding: 1em .5em;
    height: auto;
    margin: 0;

    &:hover {
      background: $color-link-default-hover;
      border-left-color: $color-primary;
      text-decoration: none;
    }
  }
}

.va-nav-category-title,
.va-nav-category h5 {
  color: $color-primary-darkest;
  font-weight: 700;
  font-family: "Source Sans Pro","Helvetica","Arial",sans-serif;
  font-size: 1.35em;
  padding: 0 0 .25em 0;
  margin: 0;
  width: 100%;
}

.va-nav-category a {
  background-image: none;
}
