import React from 'react';
import SystemDownView from './SystemDownView';

export default function SystemDownViewExample(props) {
  return (
    <SystemDownView
      messageLine1={props.messageLine1}
      messageLine2={props.messageLine2}>
    </SystemDownView>
  );
}
