/******************
 * Thread Message *
 ******************/

.messaging-thread-message {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid $color-black;

  &--collapsed {
    background: $color-gray-lightest;
    cursor: pointer;

    .messaging-message-body {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &--expanded {
    @media (max-width: $medium-screen) {
      .messaging-message-sent-date {
        display: none;
      }
    }
  }

  &--draft {
    @media (min-width: $medium-screen) {
      display: none;
    }
  }
}

.messaging-message-header {
  cursor: pointer;
}

.messaging-message-sender,
.messaging-message-sent-date {
  font-weight: bold;
}

.messaging-message-sender {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: $medium-screen) {
    margin: 0;
  }
}

.messaging-message-sent-date {
  float: right;
  padding-left: 3rem;
}

.messaging-message-recipient {
  color: $color-gray-medium;
}

.messaging-message-body {
  margin-top: 2rem;
}

.messaging-thread-message:last-child {
  @media (max-width: $medium-screen) {
    border: none;
  }

  // The last message in a thread should not be collapsible,
  // so the header should be look interactive.
  .messaging-message-header {
    cursor: auto;
  }
}

/*******************
 * Message Details *
 *******************/

.messaging-message-details-control {
  color: $color-black;
  display: inline-block;
  margin-left: 1rem;
  outline: none;
  position: relative;

  button {
    background: transparent;
    color: $color-black;
    margin: 0;

    &:active,
    &:focus,
    &:hover {
      color: $color-gray;
    }
  }

  i.fa {
    font-size: 1.8rem;
  }

  @media (max-width: $medium-screen) {
    display: block;
    margin: 0;

    button {
      display: none;
    }
  }
}

.messaging-message-details {
  background: $color-white;
  border: 1px solid $color-black;
  cursor: auto;
  display: none;
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  z-index: 5;

  &--compact {
    @media (max-width: $medium-screen) {
      display: block;
    }
  }

  &--full {
    @media (min-width: $medium-screen) {
      display: block;
    }
  }

  table {
    margin: 0;

    @media (max-width: $medium-screen) {
      margin-top: 1rem;
    }
  }

  td, th {
    border: none;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
  }

  th {
    font-weight: bold;
    text-align: right;
  }

  @media (max-width: $medium-screen) {
    background: transparent;
    border-width: 0;
    font-size: 1.8rem;
    margin: 0.5rem 0 0 0;
    padding: 0;
    position: static;
    z-index: 0;

    td, th {
      padding: 0 0 0.5rem 0;
      text-align: left;
    }

    tr:first-child,
    tr:nth-child(2),
    tr:last-child {
      display: none;
    }
  }
}

.messaging-compact-details-control {
  display: none;

  span {
    margin-right: .5rem;
  }

  @media (max-width: $medium-screen) {
    display: block;
  }
}
