@charset "UTF-8";
/* CSS Document */

#leftNav ul {
	padding: 0; 
}
.accordion, .accordion ul, .accordion li, .accordion a, .accordion span {
    border: 0 ;
    margin: 0;
    /* outline: 0 none; */
    padding: 0;
}

.accordion li {
    list-style: none outside none;	
}

.accordion li > a {
    background-color:#003161;
    border-bottom:1px solid #194570;
    color: #FDFDFD;
    display: block;
    font: 12px/22px Arial,sans-serif;
    height: auto;
    padding: 6px 10px 4px 30px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    vertical-align: middle;
	min-height: 36px;
}




.accordion > li.active > a {
    background: -moz-linear-gradient(center top , #0B5A92 0%, #003F72 100%) repeat scroll 0 0 transparent;
    color: white;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);

background: url(Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE);

background: -moz-linear-gradient(top,  rgba(11,90,146,1) 0%, rgba(0,63,114,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,90,146,1)), color-stop(100%,rgba(0,63,114,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(11,90,146,1) 0%,rgba(0,63,114,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b5a92', endColorstr='#003f72',GradientType=0 ); /* IE6-8 */

}
.accordion span {
  display: block;
    float: left;
    left: 0;
    margin-left: -22px;
    margin-right: -6px;
    margin-top: -1px;
    padding: 0 10px;
    position: static;
    z-index: 10000;
}

.sub-menu li.active > a,.sub-menu li.active:first-child  > a,.sub-menu li.current > a {
    background: #dbf0ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #dbf0ff 0%, #cbebff 50%, #bce6ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbf0ff), color-stop(50%,#cbebff), color-stop(100%,#bce6ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf0ff', endColorstr='#bce6ff',GradientType=0 ); /* IE6-9 */
    color: #212121;;
}
.sub-menu li a {
    background: none repeat scroll 0 0 #efefef;
     border-bottom: 1px solid #C9C9C9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #212121;;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	padding-left: 34px; 
}

/* REMOVES BORDERS IN BROWSERS OTHER THAN IE
.sub-menu li:last-child a {
    border: 0 none;
}
*/

.sub-menu li > a span {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #212121;;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	margin-left: -22px; 
}
#leftNav .current {
                background: #edf7fc; /* Old browsers */
                background: -moz-linear-gradient(top,  #edf7fc 0%, #cfeaf7 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf7fc), color-stop(100%,#cfeaf7)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #edf7fc 0%,#cfeaf7 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #edf7fc 0%,#cfeaf7 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #edf7fc 0%,#cfeaf7 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #edf7fc 0%,#cfeaf7 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf7fc', endColorstr='#cfeaf7',GradientType=0 ); /* IE6-9 */
}
#leftNav .accordion > li > a.current {
                background: #347dba; /* Old browsers */
                background: -moz-linear-gradient(top,  #347dba 0%, #2768bc 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#347dba), color-stop(100%,#2768bc)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #347dba 0%,#2768bc 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #347dba 0%,#2768bc 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #347dba 0%,#2768bc 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #347dba 0%,#2768bc 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347dba', endColorstr='#2768bc',GradientType=0 ); /* IE6-9 */
}
.accordion li > .sub-menu {
    display: none;
}
.accordion li:target > .sub-menu {
    display: block;
}

.sub-sub-menu li.active > a,.sub-sub-menu li.active:first-child  > a {
    background: none repeat scroll 0 0 #fdfdfd;
    color: #212121;;
}
.sub-sub-menu li a {
    background: none repeat scroll 0 0 #fdfdfd;
    border-top: 1px solid #C9C9C9;
    border-bottom: 0px solid #C9C9C9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #212121;;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	padding-left: 45px; 
}
.sub-sub-menu li:first-child a {
    border-top: 0px solid #C9C9C9;
}
.sub-sub-menu li:last-child > a {
    border-top: 1px solid #C9C9C9;
}
.sub-sub-menu li:last-child {
    border-bottom: 1px solid #C9C9C9;
}
.sub-sub-menu li > a span {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    color: #212121;;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	margin-left: -22px; 
}
.sub-sub-menu em {
    color: #A6A6A6;
    font: 10px/32px Arial,sans-serif;
    left: 0;
    margin-left: 14px;
    position: absolute;
    top: 0;
}
.sub-menu li > .sub-sub-menu {
    display: none;
}
.sub-menu li:target > .sub-sub-menu {
    display: block;
}
.sub-sub-menu li:target > .sub-sub-menu {
    display: block;
}
.sub-sub-menu li ul.sub-sub-menu > li a {
	height: 18px; 
    padding-left: 76px;
	padding-top: 4px; 
	border: 0px; 
	line-height: 14px; 
}
.sub-sub-menu li ul.sub-sub-menu {
	margin-top: -4px; 
}
.sub-sub-menu li ul.sub-sub-menu > li {
	border-bottom: 0; 
}
.sub-sub-menu li.head a {
	border-bottom: 0px; 
}

@media (min-width: 960px) {	 


.accordion li > a {
    background: -moz-linear-gradient(center top , #6C6E74 0%, #4B4D51 100%) repeat scroll 0 0 transparent;
    border:none;
    color: #FDFDFD;
    display: block;
	vertical-align: middle; 
    font: 12px/22px Arial,sans-serif;
	height: auto; 
	padding: 4px 10px 4px 26px; 
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35); min-height:31px;

background:rgb(108,110,116) ;

background: -moz-linear-gradient(top,  rgba(108,110,116,1) 0%, rgba(75,77,81,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(108,110,116,1)), color-stop(100%,rgba(75,77,81,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%); /* IE10+ */

background: linear-gradient(top,  rgba(108,110,116,1) 0%,rgba(75,77,81,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6e74', endColorstr='#4b4d51',GradientType=0 ); /* IE6-8 */

}
.sub-menu li.active > a,.sub-menu li.active:first-child  > a,.sub-menu li.current > a {
    background: #dbf0ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #dbf0ff 0%, #cbebff 50%, #bce6ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbf0ff), color-stop(50%,#cbebff), color-stop(100%,#bce6ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dbf0ff 0%,#cbebff 50%,#bce6ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf0ff', endColorstr='#bce6ff',GradientType=0 ); /* IE6-9 */
    color: #212121;
}
.sub-menu li a {
    background: none repeat scroll 0 0 #efefef;
    border-bottom: 1px solid #C9C9C9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #212121;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	padding-left: 28px; 
}
.sub-sub-menu li a {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #C9C9C9;
    border-bottom: 0px solid #C9C9C9;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #212121;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
	padding-left: 45px; 
}
}
