---
name: VSA-QA Test Run
about: For requesting QA Test Run (manual UI testing on Staging).  Open a ticket at start of the Sprint when your VSA product/feature is deploying to Staging.
title: '[Product/Feature] VSA-QA Test Run'
labels: 'vsa-qa'
assignees: 'tlei123'

---

Execute manual UI test-run(s) on Staging for \[Product/Feature].

\[Add link below to corresponding VSA-QA Test Plan ticket, which should be Closed before test-run(s) begin.]

**VSA-QA Test Plan** ticket: 

## How to configure this issue
- [ ] Linked to **Test Plan ticket**.
- [ ] Attached to a **Milestone** (when will this be completed?)
- [ ] Attached to **Epic** (what body of work is this a part of? possibly `Ongoing Maintenance`)
- [ ] Labeled with **Team** (`vsa-authenticated-exp`, `vsa-benefits`, `vsa-benefits-2`, `vsa-caregiver`, `vsa-ebenefits`, `vsa-facilities`, `vsa-public-websites`, etc.)
- [ ] Labeled with **Practice Area** (`backend`, `frontend`, `devops`, `design`, `research`, `product`, `ia`, `qa`, `analytics`, `call center`, `research`, `accessibility`, `content`)

## Definition of Done

- [ ] Test Run(s) completed on Staging.
- [ ] Defects logged.
- [ ] Test Plan Report attached & linked.
