{% if gatePage === true %}
  {% assign gatePageClassName = 'va-nav-breadcrumbs--gate' %}
{% endif %}

<nav class="va-nav-breadcrumbs {{gatePageClassName}}">
  <ul class="row va-nav-breadcrumbs-list columns" role="menubar" aria-label="Primary">
    <li><a href="/" onClick="recordEvent({ event: 'nav-breadcrumb' });">Home</a></li>
      {% assign current_page = breadcrumb_path | last %}
      {% for crumb in breadcrumb_path %}
        {% if current_page.name != crumb.name %}
          <!-- removed to remove 'active' breadcrumb -->

          {% comment %}
            Each breadcrumb item has a child object. One of the properties of
            that object is `file` which loads the front matter metadata from
            the corresponding Markdown input file.

            Below, we’ve assigned that object to a variable named
            'crumb_child_meta'.

            If these templates are still using tinyliquid, you can
            dump the properties of this object using {{ crumb | keys }}.
          {% endcomment %}

          {% assign crumb_child_meta = crumb.children.0.file %}
          <li>
            <a href="/{{ crumb.path }}">
              {% if crumb_child_meta.display_title %}
                {{ crumb_child_meta.display_title }}
              {% elsif crumb_child_meta.title %}
                {{ crumb_child_meta.title }}
              {% else %}
                {{ crumb.name | replace: '-', ' ' | capitalize }}
              {% endif %}
            </a></li>
        {% endif %}
      {% endfor %}
  </ul>
</nav>
