
{% if lastupdate != empty %}
  <div class="last-updated usa-content">
    <p>
      Last updated:
      <time datetime="{{lastupdate| date: '%Y-%m-%d'}}">{{ lastupdate | humanizeDate }}</time>
    </p>
  </div>
{% endif %}

{% if show_git_lastupdate == true %}
  {% if git_lastupdate != empty %}
    <div class="last-updated usa-content">
      <p>
        Last updated:
        <time datetime="{{git_lastupdate| date: '%Y-%m-%d'}}">{{ git_lastupdate | humanizeDate }}</time>
      </p>
    </div>
  {% endif %}
{% endif %}
