{% comment %}
=====================
 Level 2 Index 
=====================

Used for index pages in top-level paths (e.g. /disability-benefits/index.html)

-== Maintenance notes ==-

As of 2017-04-13:

  - Replace the `row` class with `usa-grid` when Foundation gets replaced by USWDS
    when the time comes.

{% endcomment %}

<main>
  <div class="row">
    <article class="usa-content columns">
        <h1>{{ title }}</h1>
        {{ contents }}
    </article>
  </div>
  {% if majorlinks != empty %}
    {% include "content/components/navigation-links-list.html" %}
  {% endif %}

  {% if relatedlinks != empty %}
    {% include "content/components/navigation-links-list.html" with isRelated = true %}
  {% endif %}
  <div class="row">
    <div class="usa-content columns">
      {% include "content/includes/last-update.html" %}
    </div>
  </div>
</main>
