/* Prescription cards for Active page. */
.rx-refill-form {
  padding: 0;
}

.rx-prescription-items {
  margin-top: 2rem;
}

.rx-prescription-card {
  border-color: $color-white;
  border-style: solid;
  border-width: 1rem 0;
  min-width: 25rem;
  position: relative;

  @media (min-width: $medium-screen) {
    float: left;
    width: 50%;

    &:nth-child(odd) {
      border-right-width: 1rem;
    }

    &:nth-child(even) {
      border-left-width: 1rem;
    }
  }
}

.rx-prescription-inner {
  background: $color-gray-lightest;
  height: 27rem;
  position: relative;
}

.rx-prescription-info {
  margin: 2rem;
}

.rx-prescription-title {
  color: $color-primary;
  font-size: 1.4em;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 0;

  a {
    text-decoration: none;

    &:hover {
      background: transparent;
      border-bottom: 2px solid currentColor;
    }
  }
}

// Because USWDS has high specificity
button.rx-prescription-button,
[type=submit].rx-prescription-button {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  white-space: nowrap;
  width: 100%;

  @media (max-width: $small-screen) {
    padding: 1rem;
  };
}

.rx-prescription-count {
  line-height: .85;
  white-space: nowrap;
  &-zero {
    color: $color-secondary;
  }
}

.rx-prescription-count-number {
  font-size: 3rem;
  font-weight: bold;
  &::after {
    content: "\a0";
  }
}

.rx-prescription-countaction {
  bottom: 0;
  padding: 2rem;
  position: absolute;
  width: 100%;

  > div {
    display: flex;
    align-items: flex-end;
  }
}

.rx-prescription-action {
  flex: 0 0 35%;
}

.rx-prescription-count {
  flex: 1 1 65%;
}

.rx-prescription-status {
  line-height: 1;
  white-space: nowrap;
}

.rx-prescription-status span,
.rx-prescription-refill-requested {
  font-weight: bold;
}

.rx-prescription-status,
.rx-call-provider {
  line-height: 1;
  margin-top: .75rem;
  text-align: right;
}

table {
  .rx-prescription-status,
  .rx-call-provider {
    text-align: left;
  }
}

.rx-prescription-refill-requested {
  margin-bottom: .75rem;
  text-align: right;
}

.rx-track-package-link {
  display: block;
  margin: 0 0 1rem;
  white-space: nowrap;
  width: auto;
}

//====== Prescription group
.rx-prescription-group {
  padding-bottom: 2rem;
}

// Abusing !important because #content .section h* is causing problems.
.rx-pgroup-title {
  padding-bottom: .5rem !important;
  margin-bottom: 1rem !important;
}


// "Do not print" styles
// Contributed .va-header-logo a block to vets-website.
// TODO: Remove when these land in "core"
@media print {
  // TODO: Refactor when `form button` and `form
  // [type=submit]` selectors are refactored out of USWDS
  .va-dnp,
  button.rx-prescription-button.va-dnp,
  [type=submit].rx-prescription-button.va-dnp {
    display: none !important;
  }

  .va-header-logo a {
    background: none;
    color: $color-black;
    text-indent: 0;
  }

  .rx-prescription-card {
    float: left;
    width: 50%;
  }

  .rx-prescription-count {
    display: block;
    float: none;
  }
  .rx-prescription-count-number {
    display: inline;

    &::after {
      content: "\a0";
    }
  }
}
