/* Rx history page */

#rx-history .rx-sort-wide {
  display: none;
}

#rx-history table {
  td {
    &:nth-child(3) {
      a {
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  @media (max-width: $medium-screen) {
    margin-top: 2rem;

    td {
      // Get the prescription name to appear above the other fields.
      &:nth-child(3) { display: table-header-group; }

      &:nth-child(1):before { content: "Last submit date: "; }
      &:nth-child(2):before { content: "Last fill date: "; }
      &:nth-child(4):before { content: "Prescription status: "; }
    }
  }
}
