.rx-table {
  margin: 0;

  th, td {
    border-color: $color-gray-light;
  }
}

.rx-table-list {
  tr.no-refills {
    td:nth-child(5) {
      color: $color-secondary;
    }
  }

  @include media-maxwidth($medium-screen) {
    tr {
      padding: 1.5rem 0;
    }

    td {
      &:before {
        font-weight: bold;
      }
    }
  }
}

.rx-prescription-name {
  color: $color-primary;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
