import React from 'react';
import Pagination from './Pagination';

export default function PaginationExample(props) {
  return (
    <Pagination
      onPageSelect={(e) => {}}
      page={props.page}
      pages={props.pages}
      maxPageListLength={props.maxPageListLength}
      showLastPage={props.showLastPage}
      />
  );
}
