# Results of user acceptance testing (UAT) for VA Form-28-1900 (Chapter 31) / production environment
**VSA eBenefits Team | April 2021**

`Jason Wolf, moderator`

---

## User acceptance testing
X UAT sessions were conducted from X to X 2021. X of X users participated. X major issues were noted.

## UAT testing of direct deposit for EDU

| UAT item | P1 | P2 | P3 | P4 | P5 | P6 |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| After login, intro screen allows access | -- | -- | -- | -- | -- | -- |
| Direct deposit information link appears in left-hand navigation | -- | -- | -- | -- | -- | -- |
| User navigates to Direct deposit screen | -- | -- | -- | -- | -- | -- |
| User confirms payment type(s) are correct (EDU, C&P, both) | -- | -- | -- | -- | -- | -- |
| User confirms bank info looks accurate | -- | -- | -- | -- | -- | -- |
| Unpopulated form opens | -- | -- | -- | -- | -- | -- |
| Screen accepts user input | -- | -- | -- | -- | -- | -- |
| Confimation modal shows | -- | -- | -- | -- | -- | -- |
| Success message shows | -- | -- | -- | -- | -- | -- |
| User confirms bank info looks accurate | -- | -- | -- | -- | -- | -- |
| User confirms email received | -- | -- | -- | -- | -- | -- |

-- = Did not occur in testing/Participant did not show

? = Did not observe result 

## Conclusion
UAT was successful. The wizard, orientation and form preformed well; participants were uniformly satisfied with the appearance and function of the tool. X potential areas to address are:
- Lorem ipsum dolor sit amet consequetor dolore unum malbrium
- Excepteur sint occaecat cupidatat non proident
- Culpa qui officia deserunt mollit anim id est laborum

---
