# IA Design for Enrollment verification
**STATUS:  IN PROGRESS**

**Team:** Educaton

**Product/Featue:** Enrollment verification

**IA Request:** https://github.com/department-of-veterans-affairs/va.gov-team/issues/33863

**On this page:**
- [User flows](#flows)
- [IA structure, URLs and breadcrumbs](#ia)
- [Navigation and entry points](#nav)
- [Redirects](#redirects)
- [Meeting notes](#notes)


## <a name="flows"></a>User/Page Flows <br>
*Description of how users will flow through the experience*


## <a name="ia"></a>IA Structure, URLs and Breadcrumbs <br>
*Description of IA or link to site map documentation, the final URLs to be used and breadcrumb requirements.*


**Page** | **URL** | **Breadcrumb** | **Notes**
--- | --- | --- | ---
Verify school enrollment landing page   | tbd  |  Home > Education and training > [H1 of page]   |  
Verify school enrollment tool | tbd | Home > Education and training > [H1 of static page] > [Tool H1] | This is the canonical URL for the tool, additional/consecutive pages will have an additional segment.  The breadcrumb will remain the same


## <a name="nav"></a>Navigation and Primary Entry Points <br>
*The primary entry points and changes to global navigation, as well as any potential crosslinking opportunities*

**A/R/M** | **Page/component** | **Link destination** | **Placement/description of change**
--- | --- | --- | ---
Modify | Education hub page   | tbd   | Replace the existing WAVE link and teaser text 
Modify | Education left nav  | tbd   | Replace the existing WAVE link 
Add | Education Verify Enrollment page | tbd | This is the new page that will link to the new verification tool
Add | Education Verify Enrollment page | https://www.gibill.va.gov/wave/index.do | This static page also needs to link to the WAVE tool



## <a name="redirects"></a>Redirects <br>
*Identify if any redirects are needed.  This is not intended to be a complete and final list of redirect needs, but directional information only.*  

-  

Please submit a request for the redirect using the [Redirect Request Issue Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=mnorthuis&labels=content-ia-team%2C+ia&template=redirect-request.md&title=Redirect+Request) at least 2 weeks in advance. 
*For more information, see the [Redirect Request Process](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/request-redirect.md).*


<hr>
<hr>

## <a name="notes"></a>Meetings Notes and Background Info

