# Results of user acceptance testing (UAT) for Form 21-686c / production environment
**VSA eBenefits Team | June 2021**

`James Adams, designer/researcher`

---

## User acceptance testing
Five UAT sessions were conducted from June 7 to June 16, 2021. 2 of 6 users participated.

## UAT testing of direct deposit for EDU

| UAT item | DNS | DNS | DNS | P4 | DNS | P6 |
| :--- | :---: | :---: | :---: | :---: | :---: | :---: |
| After login, intro screen allows access | -- | -- | -- | X | -- | X |
| Checkboxes function, workflow selection(s) made | -- | -- | -- | X | -- | X |
| Veteran info screen presents correct user data | -- | -- | -- | X | -- | X |
| Address, phone and email are pre-filled | -- | -- | -- | X | -- | X |
| User can make corrections and proceed | -- | -- | -- | X | -- | ? |
| Chosen workflow form fields function properly | -- | -- | -- | X | -- | X |
| Required form fields display error states when left incomplete or are completed improperly | -- | -- | -- | X | -- | X |
| Form advances correctly | -- | -- | -- | X | -- | X |
| User can backtrack through form as needed | -- | -- | -- | X | -- | X |
| File finder window opens when upload documents button is clicked | -- | -- | -- | X | -- | ? |
| User can locate and select file(s) | -- | -- | -- | X | -- | ? |
| Selected files upload properly | -- | -- | -- | X | -- | ? |
| Review accordions are present and contain correct information | -- | -- | -- | X | -- | X |
| Review edit function allows corrections | -- | -- | -- | ? | -- | ? |
| Form submits and user is presented with confirmation screen | -- | -- | -- | X | -- | X |
| Submission data appears in Claim Status Tool | -- | -- | -- | X | -- | ? |



DNS = Participant did not show

? = Did not observe result 

## Conclusion
UAT was abbreviated with only two participants successful. The form preformed well with two of the more complicated workflows; participants were uniformly satisfied with the appearance and function of the tool. Two potential areas to address are:
- The appearance of "pension" questions, including a "blank" question form chapter; this creates a blank accordion on the review screen
- The location of explanatory copy for the "Is the student enrolled full-time in high school or college?" question on the 674 creates confusion


---
