import React from 'react';
import ErrorableTextInput from './ErrorableTextInput';

export default function ErrorableTextInputExample(props) {
  return (
          <ErrorableTextInput
            onValueChange={(e) => e}
            {...props}/>
  );
}
