<footer class="footer" role="contentinfo">
  <div class="footer-inner">
    <div class="usa-grid">

      <ul class="va-footer-linkgroup usa-width-one-fourth" id="footer-first-child">
        <li><h4 class="va-footer-linkgroup-title">Quick List</h4></li>
        <li><a href="https://www.benefits.va.gov/BENEFITS/Applying.asp">Apply for Benefits</a></li>
        <li><a href="https://www.vets.gov/healthcare/apply/">Apply for Health Care</a></li>
        <li><a href="https://www.myhealth.va.gov/pharmacy">Prescriptions</a></li>
        <li><a href="https://www.myhealth.va.gov/">My Health<span>e</span>Vet</a></li>
        <li><a href="https://www.ebenefits.va.gov/">eBenefits</a></li>
        <li><a href="https://benefits.va.gov/insurance/choose.asp" >Life Insurance Online Applications</a></li>
        <li><a href="https://www.va.gov/vaforms/">VA Forms</a></li>
        <li><a href="https://www.va.gov/landing2_locations.htm">State and Local Resources</a></li>
        <li><a href="https://www.va.gov/op3/docs/StrategicPlanning/VA2014-2020strategicPlan.pdf">Strat Plan FY 2014-2020</a></li>
        <li><a href="https://www.va.gov/performance/index.asp">VA Plans, Budget, &amp; Performance</a></li>
        <li><a href="https://www.va.gov/ogc/accreditation.asp">VA Claims Representation</a></li>
      </ul>

      <ul class="va-footer-linkgroup usa-width-one-fourth" id="footer-services">
        <li><h4 class="va-footer-linkgroup-title">VA Home</h4></li>
        <li><a href="https://www.va.gov/about_va/va_notices.asp">Notices</a></li>
        <li><a href="https://www.va.gov/privacy/">Privacy</a></li>
        <li><a href="https://www.oprm.va.gov/foia/">FOIA</a></li>
        <li><a href="https://www.va.gov/orpm/">Regulations</a></li>
        <li><a href="https://www.va.gov/webpolicylinks.asp">Web Policies</a></li>
        <li><a href="https://www.va.gov/orm/NOFEAR_Select.asp">No FEAR Act</a></li>
        <li><a href="https://www.diversity.va.gov/whistleblower.aspx">Whistleblower Rights &amp; Protections</a></li>
        <li><a href="https://www.va.gov/general/site_map.htm">Site Index</a></li>
        <li><a href="https://www.usa.gov/">USA.gov</a></li>
        <li><a href="https://www.whitehouse.gov/">White House</a></li>
        <li><a href="https://www.va.gov/oig/">Inspector General</a></li>
      </ul>

      <ul class="va-footer-linkgroup usa-width-one-fourth" id="footer-popular">
        <li><h4 class="va-footer-linkgroup-title">Resources</h4></li>
        <li><a href="https://www.va.gov/jobs/">Careers at VA</a></li>
        <li><a href="https://www.vets.gov/employment/">Employment Center</a></li>
        <li><a href="https://www.oefoif.va.gov/">Returning Service Members</a></li>
        <li><a href="https://www.benefits.va.gov/vocrehab/index.asp">Vocational Rehabilitation &amp; Employment</a></li>
        <li><a href="https://www.va.gov/homeless/">Homeless Veterans</a></li>
        <li><a href="https://www.va.gov/womenvet/">Women Veterans</a></li>
        <li><a href="https://www.va.gov/centerforminorityveterans/">Minority Veterans</a></li>
        <li><a href="https://www.va.gov/opa/Plain_Language.asp">Plain Language</a></li>
        <li><a href="https://www.va.gov/survivors/">Surviving Spouses &amp; Dependents</a></li>
        <li><a href="https://www.va.gov/adaptivesports/">Adaptive Sports Program</a></li>
      </ul>

      <ul class="va-footer-linkgroup usa-width-one-fourth">
        <li><h4 class="va-footer-linkgroup-title">Administration</h4></li>
        <li><a href="https://www.va.gov/health/default.asp">Veterans Health Administration</a></li>
        <li><a href="https://www.benefits.va.gov/benefits/">Veterans Benefits Administration</a></li>
        <li><a href="https://www.cem.va.gov/">National Cemetery Administration</a></li>

        <li><br></li>

        <li><h4 class="va-footer-linkgroup-title">Connect</h4></li>
        <li>
          <a href="http://www.veteranscrisisline.net/">Veterans Crisis Line:</a><br>
          <a href="tel:+18002738255">1-800-273-8255</a>(Press 1)
        </li>

        <li>
          <h4 class="va-footer-linkgroup-title">Social Media</h4>
          <a title="Link to VA's Email Directory" href="https://public.govdelivery.com/accounts/USVA/subscriber/new/"><img src="img/social-email.png" alt="Email icon"></a>
          <a title="Link to VA's main Facebook page" href="https://www.facebook.com/VeteransAffairs"><img src="img/social-fb.png" alt="Facebook icon"></a>
          <a title="Link to VA's main Twitter account" href="https://twitter.com/DeptVetAffairs/"><img src="img/social-twitter.png" alt="Twitter icon"></a>
          <a title="Link to VA's Blog VAntage Point" href="http://www.blogs.va.gov"><img src="img/social-blog.png" alt="Blog icon"></a>
          <a title="Link to VA's main Flickr account" href="https://www.flickr.com/photos/VeteransAffairs/"><img src="img/social-flickr.png" alt="Flickr icon"></a>
          <a title="Link to VA's main Youtube account" href="https://www.youtube.com/user/DeptVetAffairs"><img src="img/social-youtube.png" alt="Youtube icon"></a>
          <a title="Link to VA's main Instagram account" href="https://www.instagram.com/deptvetaffairs/"><img src="img/social-instagram.png" alt="Instagram icon"></a>
          <p><a href="http://www.va.gov/opa/socialmedia.asp" title="The complete social media directory for the Department of Veterans Affairs" >Complete Directory</a></p>
        </li>
        <li><br></li>
        <h4 class="va-footer-linkgroup-title">E-mail Updates</h4>
        <li>
          <form action="https://public.govdelivery.com/accounts/USVA/subscribers/qualify"  onSubmit="return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);">
             <input name="topic_id" type="hidden" value="USVA">
             <label class="positionset" for="email_footer">Email Address Required</label>

             <input class="email_footer" id="email_footer" name="email" type="text" size="10" value="Email Address" onFocus="this.value=''" title="Enter here">
             <div id="footer-email-Button">
               <label class="positionset" for="commit">Button to subscribe to email</label>
               <input name="commit" class="form_button" id="commit" type="image" src="img/button-footer-email.png" alt="Click here to submit your email" title="Click here to submit your email">
             </div>
            </form>
          </li>
      </ul>

    </div>

    <div class="usa-grid row">
      <p>U.S. Department of Veterans Affairs | 810 Vermont Avenue, NW Washington DC 20420</p>
      <p class="small-print">Last updated May 01, 2018</p>
    </div>
  </div>
</footer>

<!-- End mobile crisis line overlay. See desktop overlay at end of footer -->
<div id="modal-crisisline" class="va-overlay va-modal va-modal-large" role="alertdialog">
    <div class="va-crisis-panel va-modal-inner">

      <h3>Get help from Veterans Crisis Line</h3>

      <button class="va-modal-close va-overlay-close" type="button">
        <i class="fa fa-close va-overlay-close"></i>
        <span class="usa-sr-only va-overlay-close">Close this modal</span>
      </button>

      <div class="va-overlay-body va-crisis-panel-body">
        <ul>
          <li><a href="tel:18002738255">Call <strong>1-800-273-8255 (Press 1)</strong></a></li>
          <li><a href="sms:838255">Text to <b>838255</b></a></li>
          <li><a href="https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat">Chat <b>confidentially now</b></a></li>
        </ul>

        <p>If you are in crisis or having thoughts of suicide,
visit <a href="https://www.veteranscrisisline.net/">VeteransCrisisLine.net</a> for more resources.</p>
      </div>
    </div>
  </div>
<!-- End mobile crisis line overlay -->

<!-- Begin generic overlay modal -->
{% if modal %}
  {% include "content/includes/modal.html" %}
{% endif %}

<!-- htmllint attr-bans="[]" -->
{% if buildtype === 'development' %}
  <script>
    recordEvent({ environment: '{{ buildtype }}' });
  </script>
  <script async src="/js/google-analytics-dev.js"></script>
{% else %}
  <!-- Google Tag Manager -->
  <script>
    // Always use push with GTM: https://www.simoahava.com/gtm-tips/datalayer-declaration-vs-push/
    recordEvent({ environment: '{{ buildtype }}' });
    // We want to know if we are being iframed
    if ( self !== top ) {
      recordEvent({ event: 'iframed', embeddedIn: document.referrer});
    }
  </script>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFJWBD"
  height="0" width="0" class="csp-inline-patch-footer"></iframe></noscript>
  <script async src="/js/google-analytics.js"></script>
  <!-- End Google Tag Manager -->
{% endif %}
<!-- htmllint attr-bans="$previous" -->

<!--
“To care for him who shall have borne the battle and for his widow, and his orphan.”
- Abraham Lincoln
-->
<script type="text/javascript">
  function footerNavClick(elem) {
    const eventLabel = 'nav-' + elem.parentElement.parentElement.id
    recordEvent({
      event: eventLabel,
      navlabel: elem.innerText
    });
  }
</script>
{% if widgets %}
<script type="text/javascript">
(function() {
  var widgets = {{ widgets | json }};
  var module = {};
  {% include "src/applications/static-pages/static-page-widgets.js" %}
  mountWidgets(widgets);
})();
</script>
{% endif %}

<script type="text/javascript" src="js/jquery-1-10-2.js"></script>
<script type="text/javascript" src="js/scrollable.js"></script>
<script type="text/javascript" src="js/custom2.js"></script>

<script>
homepageSlider();
</script>

</body>
</html>
