<header class="header">
  <div class="incompatible-browser-warning">
    <div class="row full">
      <div class="small-12">
        Your browser is out of date. To use this website, please <a href="https://whatbrowser.org/">update your browser</a> or use a different device.
      </div>
    </div>
  </div>

  <div class="va-notice--banner">
    <div class="va-notice--banner-inner">
      {% include "content/includes/usa-website-header.html" %}
      <div class="va-crisis-line">
        <div class="va-flex">
          <button data-show="#modal-crisisline" class="va-crisis-line-button va-overlay-trigger">
            <span class="va-flex">
              <span class="vcl"></span>
              Get help from Veterans Crisis Line
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /header alert box -->

  <div class="row va-flex" id="va-header-logo-menu">
    <div role="banner" class="va-header-logo-wrapper">
      <a href="https://www.va.gov" class="va-header-logo" title="Go to VA.gov">
      <img src="/img/header-logo.png"/>
      </a>
    </div>
    <div id="vetnav-controls">
      <button aria-controls="vetnav" aria-expanded="false" hidden type="button" class="vetnav-controller-close">
        <span class="va-flex">
          {% include "assets/img/icons/close.svg" %}
          Close
        </span>
      </button>
      <button aria-controls="vetnav" type="button" aria-expanded="false" class="vetnav-controller-open">
        <span class="va-flex">
          {% include "assets/img/arrow-down.svg" %}
          Menu
        </span>
      </button>
    </div>

    <div id="login-root" class="vet-toolbar"></div>
    {% include "content/includes/veteran-navigation.html" %}
  </div>

</header>
