.messaging-count {
  margin-right: 1rem;
  vertical-align: middle;
}

.messaging-message-nav {
  float: right;
}

.messaging-message-nav button {
  @include messaging-rectangular-button;

  &:first-of-type {
    border-right: none;

    i {
      margin-left: 0;
      margin-right: .5rem;
    }
  }

  i {
    margin-left: .5rem;
  }
}
