/********************
 * Thread (General) *
 ********************/

.messaging-thread-content {
  @media (max-width: $medium-screen) {
    display: none;

    &.opened {
      display: block;
    }
  }
}

.messaging-thread-form-trigger {
  display: none;

  & > button {
    display: block;
    width: 100%;
  }

  @media (max-width: $medium-screen) {
    background: $color-gray-lightest;
    display: block;
    padding: 1rem 2rem;
  }
}

/*****************
 * Thread Header *
 *****************/

.messaging-thread-header {
  button {
    vertical-align: middle;
    width: auto;
  }

  i {
    font-size: inherit !important;
  }

  .messaging-toggle-thread,
  .msg-btn-delete,
  .msg-btn-print {
    background: transparent;
    color: $color-black;
    float: none;
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0 1rem;
    padding: 0;

    &:hover,
    &:focus {
      background: transparent;
      color: $color-primary;
    }

    &:active,
    &:focus {
      outline: 0;
    }

    span {
      padding-left: 0.5rem;
    }
  }
}

.messaging-thread-nav {
  border-bottom: 1px solid $color-black;
  padding-bottom: 2rem;
  position: relative;

  &:after {
    clear: both;
    content: "";
    display: block;
  }

  .msg-btn-back,
  .msg-move-to {
    margin-right: 1rem;
  }

  .msg-btn-delete,
  .msg-btn-print {
    display: none;
  }

  @media (max-width: $medium-screen) {
    background: $color-gray-lightest;
    border: none;
    padding: 1rem;
    text-align: right;

    .msg-btn-delete,
    .msg-btn-print {
      display: inline-block;
    }

    .msg-btn-back {
      float: left;
      margin: 0 1rem;
    }

    .messaging-message-nav {
      display: none;
    }
  }
}

.messaging-thread-title {
  border-bottom: 2px solid $color-black;
  padding: 2.25rem 0;
}

.messaging-thread-subject {
  font-weight: normal;
  // Overriding `#content .section h*`.
  padding: 0 2rem !important;
}

.messaging-thread-controls {
  float: right;
  margin: 0 1rem;

  @media (max-width: $medium-screen) {
    .msg-btn-delete,
    .msg-btn-print {
      display: none;
    }
  }
}

/****************
 * Thread Reply *
 ****************/

.messaging-thread-form {
  .messaging-thread-header {
    border: none;
    display: none;
    padding: 0;
  }

  @media (max-width: $medium-screen) {
    display: none;

    &.opened {
      display: block;
    }

    .messaging-thread-header {
      display: block;
    }
  }
}

.messaging-notice-box-light {
  padding: 0 1.25em;

  p {
    margin-top: 0;
  }
}

.messaging-notice-box {
  background: $color-primary-alt-lightest;
  padding: 1.5rem;

  i {
    width: 3rem;
  }

  span {
    display: inline-block;
    vertical-align: top;
    width: 90%;
  }
}
