[id=msg-compose] {
  // Overrides USWDS positioning
  .usa-input-error {
    position: static;
    right: auto;
  }

  .usa-input-error-message {
    margin: 0;
  }

  @media (min-width: $medium-screen) {
    margin-bottom: 3rem;
    margin-top: 1.5rem;

    .msg-write-group {
      padding: .75rem 0;
    }
  }
}

[id=msg-compose] label {
  margin: 0;
}

.msg-field {
  @media (max-width: $medium-screen) {
    border-bottom: 1px solid $color-gray;
    border-top: 1px solid $color-gray;
  }
}


.msg-field.usa-input-error {
  @media (max-width: $medium-screen) {
    margin: 0;
  }

  border-left: 4px solid $color-secondary;
}

.msg-subject-group {
  margin-top: 0;
  padding: 1.5rem 0;

  @media (min-width: $medium-screen) {
    display: inline-block;
    width: 100%;
  }
}

.messaging-send-group [type=submit] {
  display: inline-block;
  margin: .5rem;
}

.msg-category {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
}

.msg-recipient,
.msg-subject-group {
  padding-top: .75rem;
  padding-bottom: .75rem;

  @media (max-width: $medium-screen) {
    padding: 1.5rem;
  }
}

.msg-subject {
  @media (max-width: $medium-screen) {
    margin-top: 2rem;
  }

  @media (min-width: $medium-screen) {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    margin-left: 1rem;
  }
}

.msg-subject-line {
  @media (min-width: $medium-screen) {
    display: -webkit-flex;
    display: flex;
  }
}

.msg-recipient {
  border-top: none;

  select {
    max-width: 100%;
  }
}

.msg-send-group {
  background: $color-gray-lightest;
  border: 1px solid $color-gray;
  padding: 1rem;
  position: relative;

  @media (max-width: $medium-screen) {
    -webkit-align-items: center;
    align-items: center;
    border-width: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1.5rem;
  }

  .msg-btn-delete {
    float: right;
    font-size: 1.6rem;
    line-height: 3.5rem;
    margin: 0 0 0 1rem;
    padding: 0 1rem;

    @media (max-width: $medium-screen) {
      flex: 0 0;
      line-height: 2.5rem;
      order: -1;
      padding: 0;
    }
  }
}

.msg-send-buttons {
  display: inline-flex;
  margin-right: 1rem;

  [type="button"] {
    margin: 0 1rem 0 0;

    &[disabled] {
      background: $color-gray;
    }
  }

  @media (max-width: $medium-screen) {
    margin: 0;
    width: 100%;

    [type="button"] {
      -webkit-flex: 0 1 50%;
      flex: 0 1 50%;
      margin: 1.5rem 1rem .5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

button.msg-btn-save {
  font-weight: bold;
}

.msg-btn-save {
  background: transparent !important;

  &[disabled] {
    color: $color-gray !important;
    box-shadow: inset 0 0 0 2px $color-gray !important;
  }
}

.msg-write-group {
  border-bottom: none;
  margin-top: 0;
  padding: 0;

  .usa-input-error {
    padding-bottom: 0;
    padding-top: 0;
  }

  .usa-input-error-message {
    margin-left: 0;
  }

  textarea {
    border: 0;
    padding: 0;
    margin-bottom: 0;
    max-width: 100%;
    position: relative;
    resize: none;

    &:focus {
      z-index: 1;
    }

    @media (min-width: $medium-screen) {
      border-color: $color-base;
      border-style: solid;
      border-width: 1px 1px 0 1px;
      padding: 1rem;
    }
  }
}

.msg-write {
  padding: 1.5rem 1.5rem 2rem;

  @media (min-width: $medium-screen) {
    padding: 0;
  }
}

.msg-attachments {
  margin: 0 1rem;

  @media (min-width: $medium-screen) {
    border-width: 0 1px;
    border-style: solid;
    border-color: $color-base;
    margin: 0;
    padding: 1rem;
  }

  &-title {
    border-top: 2px solid $color-gray-light;
    font-size: inherit;
    font-weight: bold;
    padding: 1rem 0;
  }
}

.msg-characters {
  @media (max-width: $medium-screen) {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-order: -1;
    order: -1;
    text-align: right;
  }

  @media (min-width: $medium-screen) {
    float: right;
    line-height: 3.5rem;
  }

  &.isnegative {
    color: $color-secondary;
  }
}

.msg-attach {
  display: inline-block;
  position: relative;

  input:focus + label {
    box-shadow: 0 0 3px $color-focus, 0 0 7px $color-focus;
  }

  label {
    display: inline-block;
    cursor: pointer;
    line-height: 3.5rem;

    &:focus span,
    &:hover span {
      color: $color-primary-darker;
    }
  }

  input {
    border: 0;
    height: auto;
    left: -9999rem;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: auto;
  }

  @media (max-width: $medium-screen) {
    -webkit-flex: 0 0;
    flex: 0 0;
    -webkit-order: -2;
    order: -2;

    label {
      line-height: 2.5rem;
    }
  }
}

.msg-attachment {
  @include clearfix;
  background: $color-gray-lightest;
  border: 1px solid $color-gray;
  line-height: 2;
  margin-bottom: .5rem;
  position: relative;

  span {
    display: inline-block;
    font-weight: bold;
  }

  &-name {
    padding: .5rem .75rem;
  }

  &-size {
    padding: .5rem 0;
  }
}

.msg-attachment-close {
  color: $color-va-modal-close;
  background: transparent;
  font-size: 1.25em;
  margin: 0;
  position: absolute;
  padding: 1rem;
  top: 0;
  right: 0;
  width: auto;

  &:focus,
  &:hover {
    background: inherit;
    color: $color-base;
  }
}

.msg-attachments-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.msg-compose-error {
  .usa-input-error {
    border: 0;
    margin: 0;
    padding: 0;
  }

  textarea {
    border: 3px solid $color-secondary;
    padding: 1rem;
  }

  .msg-write,
  .msg-send-group {
    @media (min-width: $medium-screen) {
      margin-left: 1.5rem;
    }
  }
}

.msg-compose-error--subject,
.msg-compose-error--category {
  padding-left: 1.5rem;
}

.msg-compose-error--subject select,
.msg-compose-error--category input {
  border: 1px solid $color-gray;
}

.msg-compose-error--category .msg-category label,
.msg-compose-error--subject .msg-subject label {
  font-weight: bold;
}

// Overrides some USWDS shenanigans
.msg-compose-error {
  select,
  textarea,
  input {
    width: 100%;

    @media (min-width: $medium-screen) {
      width: 100%;
    }
  }
}

#msg-reply {
  // Overrides USWDS positioning
  .usa-input-error {
    position: static;
    right: auto;
  }

  .msg-field {
    border-top: none;
  }

  .msg-reply-detail {
    border-bottom: 1px solid $color-gray;
    padding: 1.5rem;

    label {
      display: inline-block;
      font-weight: bold;
    }
  }

  label {
    margin: 0;
  }

  @media (min-width: $medium-screen) {
    margin: 3rem 2rem;

    .msg-reply-detail {
      border: none;
      display: none;
      padding: 0;

      &:first-child {
        display: block;
      }
    }

    .msg-reply-details {
      border: 1px solid $color-gray;
      border-bottom: none;
      cursor: pointer;
      padding: 1rem;

      &.opened {
        .msg-reply-detail {
          display: block;
        }
      }
    }

    .msg-field {
      border: none;
    }

    .msg-compose-error {
      .msg-write {
        border-color: $color-gray;
        border-style: solid;
        border-width: 1px 1px 0;
        padding: .25rem 1rem 1rem;
        margin-left: 0;
      }

      .msg-send-group {
        margin-left: 0;
      }
    }

    .msg-write {
      label {
        left: -9999em;
        position: absolute;
      }
    }

    textarea {
      margin: 0;
    }
  }
}
