#messaging-settings {
  padding: 2rem 0;

  @media(max-width: $medium-screen) {
    padding: 2rem;
  }

  .va-tab-content {
    padding-top: 3rem;
  }

  table {
    margin: 0;

    button {
      float: right;
      font-size: 1.6rem;
      font-weight: normal;
      margin: 0;
      padding: 0;
    }

    @media (max-width: $medium-screen) {
      tr {
        padding: 1.5rem 0;
        position: relative;

        &:last-child {
          border-bottom: 1px solid $color-gray-light;
        }
      }

      td {
        &:before {
          font-weight: bold;
        }

        &:nth-child(2) {
          &:before{
            content: "Total messages: ",
          }
        }

        &:nth-child(3) {
          bottom: 1.5rem;
          padding: .25rem 0;
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .msg-btn-newfolder {
    margin: 1rem 0;
    width: auto;

    @media (max-width: $medium-screen) {
      margin: 1.5rem 0;
      padding: 0;
    }
  }

  .msg-notifications-inputs {
    label {
      margin-top: 0;

      &:first-of-type {
        margin-top: 1rem;
      }
    }
  }

  .msg-notifications-save {
    margin-top: 3rem;
  }
}
