#messaging-app {
  margin: auto;
  max-width: $site-max-width;

  @media (min-width: $medium-screen) {
    padding: 3rem 1.5rem;
  }
}


#messaging-app-header {
  @include media-maxwidth($medium-screen) {
    padding: 0 1.5rem;
  }

  @include media($medium-screen) {
    .va-alert {
      margin: 0 0 1.5rem;
    }
  }
}

.messaging-compose-button {
  font-size: 1.8rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  width: 100%;
}

.messaging-warning-banner {
  margin: 1em 0 2em;
}

.messaging-app-error {
  p {
    margin: 0;
    font-size: initial !important;
  }
}

.messaging-tab-explainer {
  display: inline-block;
  margin: 3rem 0;
}

#messaging-app-title {
  position: relative;

  .msg-btn-settings {
    display: none;

    @include media($medium-screen) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

// TODO: Refactor these styles so that they're
// reusable across projects.
#messaging-nav {
  display: inline-block;
  width: 20%;

  .messaging-folder-nav-close {
    background: transparent;
    color: $color-black;
    display: none;
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
    text-align: right;
    width: 100%;
  }

  .messaging-compose-button {
    margin: 0 0 2rem 0;
    width: 100%;
  }

  .msg-btn-settings {
    display: none;
  }

  @include media-maxwidth($medium-screen) {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: -webkit-transform 250ms;
    transition: transform 250ms;

    background: $color-white;
    height: 100%;
    left: 0;
    padding: 5rem;
    position: fixed;
    overflow-y: auto;
    top: 0;
    width: 100%;
    z-index: 1;

    .messaging-compose-button {
      display: none;
    }

    .messaging-folder-nav-close {
      display: block;
    }

    .msg-btn-settings {
      display: block;
    }
  }

  &.opened {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

// Override square bullets and excessive padding
// when only using .usa-sidenav-sub_list.
.messaging-folder-subnav {
  list-style: none;
  padding: 0;
}

.messaging-folder-nav-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messaging-my-folders {
  span {
    display: inline-block;
    width: 90%;
  }

  i {
    display: inline-block;
    font-size: 1.8rem;
    text-align: right;
    width: 10%;
  }
}

.messaging-folder-nav-actions {
  .msg-btn-newfolder,
  .msg-btn-managefolders {
    padding: 1rem 2rem;
    width: 100%;
  }
}

#messaging-content {
  @media (min-width: $medium-screen) {
    display: inline-block;
    padding-left: 3rem;
    vertical-align: top;
    width: 80%;
  }
}

#messaging-content-header {
  h3 {
    font-size: 2rem;
    padding: 0 !important;
  }

  @include media-maxwidth($medium-screen) {
    align-items: center;
    background: $color-gray-lightest;
    display: flex;
    position: relative;

    h3 {
      flex: 1;
      line-height: inherit !important;
      overflow: hidden;
      padding: 0 1.5rem !important;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.messaging-folder-header {
      margin: 0;

      h3 {
        max-width: 65%;
      }
    }
  }
}

.messaging-folder-header {
  margin-bottom: 2rem;
}

.messaging-cancel-link {
  display: none;
  line-height: inherit;
  padding: 1.5rem 0;
  margin-left: 1.5rem;

  @media (max-width: $medium-screen) {
    display: block;
  }
}

.messaging-menu-button,
.messaging-send-button {
  background: $color-primary;
  border-radius: 0;
  display: none;
  line-height: inherit;
  margin: 0;
  padding: 1.5rem;
  width: auto;

  &[disabled] {
    background: $color-gray;
  }

  @media (max-width: $medium-screen) {
    display: block;
  }
}

.msg-btn-back {
  @include messaging-rectangular-button;

  i {
    margin-right: .5rem;
  }
}

.messaging-modal {
  .va-modal-inner {
    @media(min-width: $medium-screen) {
      max-width: 40rem;
    }
  }

  form [type=submit] {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Overrides USWDS styles.
button.usa-button-secondary {
  font-weight: bold;
}
