{% include "content/includes/header.html" %}

{% if includeBreadcrumbs == true %}
  {% include "content/includes/breadcrumbs.html" %}
{% endif %}

<div id="content">
<div class="main" role="main">
  {% if in_maintenance == true %}
    <div class="row">
        <div class="small-12 columns">
          <div class="csp-inline-patch-page-react">
          <h3>{{ maintenance_line1 }}</h3>
          <h4>{{ maintenance_line2 }}</h4>
          <a href="/"><button>Go back to Vets.gov</button></a>
          </div>
        </div>
      </div>
  {% else %}
    <div class="section">
      {{ contents }}
    </div>
  {% endif %}
</div>
</div>
{% include "content/includes/footer.html" %}
