import React from 'react';
import ErrorableFileInput from './ErrorableFileInput';

export default function ErrorableFileInputExample(props) {
  return (
    <ErrorableFileInput
      name={props.name}
      multiple={props.multiple}
      buttonText={props.buttonText}
      accept={props.accept}
      errorMessage={props.errorMessage}
      onChange={(e) => e}/>
  );
}
