assets/*
content/*
docs/*
old/*
vendor/*
build/*
src/applications/**/README.md
src/hca-migrate/*
src/rx-migrate/*
coverage/*
.nyc_output/*
src/applications/static-pages/static-page-widgets.js
script/watch.js
script/mocha.js
