# Directories to ignore
node_modules/
build/
logs/

# Files to ignore
._*
.cache
.DS_Store
npm-debug.log
*.log

config/config.proxy.js

.babelcache
jsconfig.json
typings.json
typings/
coverage
.nyc_output
.yalc
yalc.lock
/test-results.xml
package-lock.json
