import React from 'react';
import OMBInfo from './OMBInfo';

export default function OMBInfoExample(props) {
  return (
    <OMBInfo
      resBurden={props.resBurden}
      ombNumber={props.ombNumber}
      expDate={props.expDate}>
    </OMBInfo>
  );
}
