openapi: "3.0.2"
info:
  title: VA Event Stream
  version: "1.0"
servers:
  - url: https://api.va.gov/services/event-stream
paths:
  /v0/events:
    post:
      description: Receives VA system published data change events that may interest a veteran.
      The system then places events on a stream where one or more consumers filter and process them.
      Should an event pass a consumer's rules it will trigger an action or notification.
      Notifications may include mobile push notifications, text messages, emails, or in-browser messages.
      security:
        - Bearer: [ ]
      requestBody:
        description: The event to add to the stream.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventRequest"
            examples:
              MHV new secure message:
                value:
                  name: New Message
                  payload:
                    messageId: 80337bc5-7215-4b22-a20d-84330631d8b5
                    title: Your prescription is ready
                  sourceSystem: MHV Secure Messaging
                  user:
                    icn: 1008709396V637156
              VAOS upcoming appointment:
                value:
                  name: Upcoming Appointment
                  payload:
                    appointmentId: 80337bc5-7215-4b22-a20d-84330631d8b5
                    datetime: 2021-08-25T16:22:58-07:00
                    location: "VA Long Beach: Audiology"
                  sourceSystem: VAOS
                  user:
                    icn: 1008709396V637156
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventResponse"
        401:
          description: Authentication is possible but has failed or not yet been provided.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        400:
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        408:
          description: The response from this API timed out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        500:
          description: An internal API error occured.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"


components:
  schemas:
    EventRequest:
      required:
        - name
        - payload
        - sourceSystem
        - user
      properties:
        name:
          type: string
          description: A constant name for a repeatable system event type.
          example: New Message
        payload:
          type: object
          description: A JSON object of data that is unique to this event type.
          example:
            messageId: 80337bc5-7215-4b22-a20d-84330631d8b5
            title: Your prescription is ready
        sourceSystem:
          type: string
          description: The source system that is outputting the event. Like the name field this should be constant.
          example: MHV Secure Messaging
        user:
          type: object
          description: A JSON object of user traits that will be used by consumers to identify users or retrieve additional user data.
          Currently only MPI's ICN is supported.
          properties:
            icn:
              type: string
              example: 1008709396V637156
    EventResponse:
      required:
        - data
      properties:
        data:
          required:
            - id
            - created
          properties:
            id:
              type: string
              description: The stream id returned during a successful write.
              example: 1518951480106-0
            created:
              type: string
              description: The datetime the event was written to the stream.
              example: 2021-08-25T14:59:10.000Z
    Errors:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            type: object
            required:
              - title
              - detail
              - code
              - status
            properties:
              title:
                type: string
              detail:
                type: string
              code:
                type: string
              status:
                type: string
              source:
                type: string
              meta:
                type: object
                required:
                  - messages
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                      required:
                        - key
                        - severity
                        - text
                      properties:
                        key:
                          type: string
                        severity:
                          type: string
                        text:
                          type: string
