@import "~cropperjs/dist/cropper.css";
@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "../../../platform/forms/sass/m-form-confirmation";

.vic-intro-indent {
  margin-left: 1.25em;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 30px; // necessary to allow IE thumb to be taller than track
  padding: 0;
  margin: 7.3px 0;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: $color-gray-medium;
  }
  &::-webkit-slider-thumb {
    border: 1.2px solid $color-gray-medium;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    background: $color-primary-darker;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }
  &:focus::-webkit-slider-runnable-track {
    background: $color-gray-medium;
  }
  &::-moz-range-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: $color-gray-medium;
  }
  &::-moz-range-thumb {
    border: 1.2px solid $color-gray-medium;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    background: $color-primary-darker;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: $color-gray-medium;
    border-radius: 0;
  }
  &::-ms-fill-upper {
    background: $color-gray-medium;
    border-radius: 0;
  }
  &::-ms-thumb {
    border: 1.2px solid $color-gray-medium;
    height: 22px;
    width: 22px;
    border-radius: 11px;
    background: $color-primary-darker;
    cursor: pointer;
  }
  &:focus {
    &::-ms-fill-lower {
      background: $color-gray-medium;
    }
    &::-ms-fill-upper {
      background: $color-gray-medium;
    }
  }
}

.va-button-link {
  &.disabled {
    text-decoration: none;
    color: $color-gray !important;
  }
}

.fa {
  font-size: 1.07em !important;
}

.id-card-preview {
  width: 500px;
  height: 350px;
}

.progress-bar-container {
  margin: 0 auto;
  text-align: center;
  width: 240px;
  @media (min-width: $large-screen) {
    width: 300px;
  }
  .form-review-panel-page & {
    width: 240px;
  }
}

.progress-box.progress-box-schemaform {
  padding: auto;
}

.form-panel {
  max-width: auto;
}

.cropper-container-outer {
  @media (min-width: $large-screen) {
    padding: 10px 20px;
  }
  .form-review-panel-page & {
    padding: 0;
  }
}

.cropper-container {
  height: 240px !important;
  width: 100% !important;
  .form-review-panel-page & {
    height: 240px !important;
  }
}

.cropper-view-box {
  outline: none;
}

.cropper-view-box:after {
  content: " ";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 4px solid $color-primary;
}

.cropper-point {
  display: none;
}

.cropper-line {
  background-color: $color-black;
  opacity: 1;
}

.cropper-line.line-n {
  top: 0;
  height: 4px;
}

.cropper-line.line-e {
  right: 0;
  width: 4px;
}

.cropper-line.line-s {
  bottom: 0;
  height: 4px;
}

.cropper-line.line-w {
  left: 0;
  width: 4px;
}

.cropper-bg {
  background-image: none;
}

.cropper-control-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-bottom: 30px;
  .form-review-panel-page & {
    min-width: auto;
  }
}

.cropper-control-row {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: $large-screen) {
    width: inherit;
  }
  .form-review-panel-page & {
    width: 100%;
  }
}

.cropper-control-row {
  .cropper-control-label-container {
    margin: 10px;
    min-width: 106px;
  }
}

.cropper-control-zoom {
  text-align: center;
  width: 50% !important;
  text-decoration: none !important;
  text-align: center;
}

.cropper-zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.cropper-zoom-slider {
  display: inline-block;
  max-width: 240px;
  @media (min-width: $large-screen) {
    height: inherit;
    max-width: 340px;
    padding: 0 5px 5px 5px;
  }
  .form-review-panel-page & {
    max-width: 240px;
    padding: 0;
  }
}

.cropper-control.cropper-control-zoom {
  width: auto !important;
  padding: 0 10px !important;
  .form-review-panel-page & {
    width: auto !important;
    padding: 0 10px !important;
  }
  &.cropper-control-zoom-in {
    &.label-container {
      width: 50% !important;
      margin-right: 20px;
    }
    .cropper-control-label {
      .form-review-panel-page & {
        float: auto;
      }
    }
  }
  &.cropper-control-zoom-out {
    .cropper-control-label {
      float: left;
    }
  }
}

.fa-upload {
  @media (min-width: $large-screen) {
    padding: 0 15px 0 5px !important;
  }
  .form-review-panel-page & {
    padding: 0 !important;
  }
}

.fa-search-plus {
  font-size: 2em !important;
  .form-review-panel-page & {
    font-size: 2em !important;
    padding: 0 !important;
    float: auto;
  }
}

.fa-search-minus {
  font-size: 2em !important;
  .form-review-panel-page & {
    font-size: 2em !important;
    padding: auto !important;
    float: auto;
  }
}

.fa-arrow-up {
  padding: 0 12px 0 5px !important;
}

.fa-arrow-down {
  padding: 0 0px 0 5px !important;
}

.fa-arrow-left {
  padding: 0 10px 0 5px !important;
}

.fa-arrow-right {
  padding: 0 7px 0 5px !important;
}

.fa-rotate-left {
  padding: 0 10px 0 5px !important;
}

.fa-rotate-right {
  padding: 0 7px 0 5px !important;
}

.photo-input-container {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  &.photo-input-container-left {
    justify-content: flex-start;
    flex-direction: row;
  }
  div[role="alert"] {
    display: flex;
    justify-content: center;
  }
}

.drop-target-container {
  height: 240px;
  width: 240px;
  margin: 50px auto 20px;
  @media (min-width: $large-screen) {
    height: 300px;
    width: 300px;
  }
  .form-review-panel-page & {
    height: 240px;
    width: 240px;
  }
}

.drop-target {
  position: absolute;
  height: 240px;
  width: 240px;
  @media (min-width: $large-screen) {
    height: 300px;
    width: 300px;
  }
  .form-review-panel-page & {
    height: 240px;
    width: 240px;
  }
}

.drop-target:after {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 1px;
  border: 4px solid $color-black;
}

.drop-target:before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 5px;
  border: 4px solid $color-primary;
}

.drag-active.drop-target:after {
  border: 4px dotted $color-green;
}

.drag-active-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crop-button-container {
  margin: 0 auto;
  max-width: 130px;
  width: 50%;
}

.photo-review {
  width: 150px;
}

.photo-preview {
  width: 240px;
  margin: 1em 0;
  @media (min-width: $large-screen) {
    width: 300px;
  }
  .form-review-panel-page & {
    width: 240px;
  }
}

.photo-preview-link {
  margin-right: 10px;
  font-weight: $font-normal;
}

.photo-edit-button {
  max-width: 150px;
}

.border-box {
  border: $color-gray-light 9px solid;
  padding: 1em;
  outline: none;
}

.error-box {
  border: $color-red 9px solid;
  padding: 1em;
  outline: none;
}

.example-photo {
  width: 150px;
  margin: 5px;
  @media (min-width: $large-screen) {
    margin: 10px;
  }
  .form-review-panel-page & {
    margin: 5px;
  }
}

.photo-warning {
  background: $color-gold-lightest;
  clear: both;
  margin: 0 0 1.5em 0;
  padding: 1em;
}

.schemaform-label.photo-label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.photo-error-message {
  outline: none;
}

.photo-error-wrapper {
  margin-bottom: 1em;
}

/* USWDS overrides */
.usa-accordion,
.usa-accordion-bordered {
  > ul {
    button.cropper-control,
    button.photo-edit-button {
      font-weight: $font-normal;
    }
    .photo-preview-link {
      margin-right: 10px;
      font-weight: $font-normal;
    }
  }
}

.usa-button.usa-button-secondary.va-button-link {
  box-shadow: none;
}

.cropper-container-outer .crop-button-container {
  .usa-button-primary {
    width: 100%;
    text-align: center;
  }
}

.usa-button {
  width: auto;
}

.vic-layover {
  margin-bottom: 2em;
}

.vic-processing-warning {
  margin-bottom: 2em;
}

.photo-field-page {
  max-width: 100%;
}
