import React from 'react';
import Breadcrumbs from './Breadcrumbs';

export default function BreadcrumbsExample(props) {
  return (
    <Breadcrumbs
      id={props.id}
      includeSearch={props.includeSearch}
      crumbs={props.crumbs}/>
  );
}
