$font-path: "~uswds/src/fonts";
$image-path: "~uswds/src/img";
@import "~@department-of-veterans-affairs/formation/sass/core";

@import "modules/m-footer";

// ----- VA MODULES (BUTTONS/CARDS/TABLES) ---- //
@import "~@department-of-veterans-affairs/formation/sass/modules/m-alert";
@import "modules/m-crisis-line";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-table";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-button";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-elements";
@import "modules/m-search";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-loading-indicator";
@import "modules/m-vet-nav";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-print";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-dropdown";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-overlay";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-additional-info";
@import "../../monitoring/DowntimeNotification/sass/m-downtime-notification";

// ----- mobile typography -- see #6214 on vets.gov-team ---- //

@import "~@department-of-veterans-affairs/formation/sass/mobile-typography";

// ----- VA SHAME ---- //

@import "~@department-of-veterans-affairs/formation/sass/shame";
@import "slider";


/* MERGER-specific shame. This is not production ready; proof of concept only */

/* logo size override */
.va-header-logo {
  width: 264px;
  height:auto;
}

/* new pattern? where we use old VA icons with h3 */
.va-icon-header {

  width:100%;
  height: 40px;
  margin-left: -6px;

  .va-icon-icon {
    margin: 0;
    padding: 0;

    display: inline;
    float: left;
    width:12%;
    height:auto;
  }

  .va-icon-h {
    display: inline;
    width: 87%;
  }

}

.va-icon-cols {
  p {
    margin-top:0;
  }

  padding-bottom: 3em;
}

.row {
  padding-top:3em;
}

#footer-first-child {
  margin-top: 2em;
}


[href^="http"], [rel="external"] {
    background: none;
}
