.gi-app {

  ul.react-autosuggest__suggestions-list {
    background: $color-white;
    border: 1px solid $color-gray;
    // Box shadow only sides and bottom of suggestion list.
    box-shadow: 0px 3px 3px -3px $color-focus,
                3px 0 3px -3px $color-focus,
                -3px 0 3px -3px $color-focus,
                0 7px 7px -7px $color-focus,
                7px 0 7px -7px $color-focus,
                -7px 0 7px -7px $color-focus;
    list-style: none;
    margin-top: -.5rem;
    max-width: 46rem;
    padding: 0;
    position: relative;

    @include media-maxwidth($small-screen) {
        font-size: 1.3rem;
    }
  }

  li.react-autosuggest__suggestion {
    padding: .5rem 1rem;

    &--focused {
      background-color: $color-primary-alt-light;
    }
  }

}
