# VA content brief for sign in and identity verification

Created by the sitewide content and IA team for teams working on products related to sign in and identity verification.

**Have questions or feedback on this brief or want to add something?**
- Send us a slack in #sitewide-content-ia.

## Sections

- [Overview](#overview)
- [Related terminology](#related-terminology)
- [Content considerations specific to sign in and identity verification](#content-considerations-specific-to-sign-in-and-identity-verification)
- [Organic SEO and VA.gov search](#organic-seo-and-va.gov-search)
- [Content-specific research findings](#content-specific-research-findings)
- [Content pages related to this topic](#content-pages-related-to-this-topic)
- [Other notes](#other-notes)

## Overview

Speaking plainly, compassionately, and consistently across VA helps us build trust with Veterans, service members, and their family members. As we continue to move toward an omnichannel experience and multilingual content, consistency becomes even more important.  

This brief will help your team create content for your product that aligns with the VA.gov voice and content standards and that uses consistent language about sign in and identity verification. It will also help us all track content decisions so we can all stay aligned from discovery through post-launch iterations. This is a living document. 

[Read our top 10 plain language standards in the VA.gov content style guide for more](https://design.va.gov/content-style-guide/content-principles/plain-language)

## Related terminology

| Word or phrase | How we use this term | Notes | Where to find related language we use to define or describe this term in Veteran content | Official content style guide status | Date term added/last updated |
| -------------- | --------------- | --------------- | --------------- | --------------- | --------------- |
| **account** | We use this term to describe the account that a Veteran uses to sign in to VA.gov (such as "your Login.gov account"). | We don't use the phrases "your VA.gov account" or "VA account." We don't use the term "credential." |  | In style guide Word list | 10.14.22 |
| **multifactor authentication** / **2-factor authentication** | We use these terms to describe the multifactor security process that Veterans must use when they sign in to VA.gov | Use "multifactor authentication" as the main term. Where space allow, we can include "This process is also sometimes called 2-factor authentication." |  | In style guide Word list | 10.14.22 |
| **My HealtheVet** |  | "My HealtheVet" is 2 words. Don’t italicize the “e” between “Health” and “Vet” in body copy,headlines, and user interface elements such as links, buttons, and navigation. The “e” is italicized only in the logo. |  | In style guide Word list | 10.14.22 |
| **sign in/sign out** | We always use "sign in" and "sign out" to describe the process of authenticating on VA.gov and other VA digital tools. | We don't use "log in"/"log out" or "sign on." |  | In style guide Word list | 10.14.22 |
| ***draft*** **verify your identity** | We use this to describe the process of proving your identity through a sign-in partner like Login.gov or ID.me. | Login.gov and ID.me use "verify your identity" to describe this process. We can explain this in Veteran content as "We'll ask you to verify your identity (prove that you're you)."| | Not yet in style guide | 5.25.23 |
| ***draft*** **VA.gov and other VA online services** | We use this term to describe the group of websites, tools, and apps that Veterans can use to manage their VA benefits, health care, and information online. | We can usually omit this term and focus on the action: "Sign in to manage your VA benefits and health care online." But we sometimes need to refer to this directly. For example, "To sign in to VA.gov and other VA online services, you need to accept these terms of use." | | (Not yet ready for style guide) | 5.25.23 |
| ***draft*** **account provider** | We use this term when we need to refer to Login.gov and ID.me as the providers of the secure accounts, as opposed to the accounts themselves. | We don't use "account partner" or any other variation. | | Not yet in style guide | 1.30.24 |

## Content considerations specific to sign in and identity verification

### Encouraging Login.gov and ID.me (added 10.14.22)

We want to begin encouraging Veterans to create Login.gov or ID.me accounts, with an emphasis on Login.gov.

#### Here's language from the VA.gov website about the benefits of Login.gov and ID.me:

 > **Should I create a Login.gov or ID.me account to sign in to VA.gov?**
 > You can create either of these free accounts to sign in to VA.gov.
 > **Both Login.gov and ID.me offer these benefits:** 
 > - Access to all your VA benefits, services, and information in a single, secure account 
 > - A secure sign-in option that protects your privacy and complies with the latest federal security standards
 > - A single account to manage your other government benefits and services (like Social Security benefits or federal job applications)
 > 
 > **Here’s the difference between these 2 accounts:** 
 > - **Login.gov** is an account created, maintained, and secured by the U.S. government. It encrypts your stored information at 2 levels. Encryption translates your data into code that only you can access as the account holder. This means only you can access and change your information. 
 > - **ID.me** is an account created, maintained, and secured by a trusted technology partner. It uses bank-grade encryption to keep your personal info safe. It gives you control over which services can share your information.

## Organic SEO and VA.gov search
### Terms related to "verifying" have larger volume than "proofing" ###
**Top 10 on-site search terms related to verifying – 5/24/22 to 5/24/23**
![image](https://github.com/department-of-veterans-affairs/va.gov-team/assets/104158104/d5aca7ff-8f10-4946-81d7-d72620db15cf)

**Top 10 on-site search terms related to proofing – 5/24/22 to 5/24/23**
![image](https://github.com/department-of-veterans-affairs/va.gov-team/assets/104158104/8befc52b-2726-4188-b114-16c18d6cf249)

## Content-specific research findings
### 2023 – 04: Deferred identity proofing usability study ###
- Tested 2 flows encouraging Veterans with existing DS Logon accounts to create a new “VA-only” Login.gov account through a deferred identity proofing process (this previously planned process is now on hold)

**Found confusion around several concepts and terms:**
- Veterans are unfamiliar with the term VA digital tools and aren’t sure what they’re losing or gaining access to.
  - “I have no idea what a VA digital tool is to be honest with you, I mean I would be thinking it's a mouse that I'm moving around and being able to touch a link and press the button. I don't know.”
- Confusion between authentication vs verification makes it difficult to know the limitations of an unverified Login.gov account, and how verification works.
  - “To verify my identity I would choose voice or text.”
- At first, most Veterans don’t understand that Login.gov is a credential vs a new application. This led some Veterans to believe that Login.gov will consolidate all VA applications into one place, like a ‘one stop shop’ portal.

[Read the full deferred identity proofing usability study](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/login.gov-adoption/research/2023-03-Deferred-Identity-Proofing-Round-1-Usability/research%20findings.md#recommendations)

### 2023 – 05: Proactive CSP (credential service provider) migration study ### 
- Used interviews to evaluate Veterans' understanding of several identity-related terms:
  - Upgrade
  - Multi factor authentication
  - Verification
  - VA online tools
- Tested a modal prototype for proactive Login.gov account creation, framing the move to Login.gov as an upgrade recommendation with no clear deadline or necessity to switch

**Terminology-related findings**
- Most participants used **multi-factor authentication** and **verification** interchangeably and said there wasn't a clear difference in these terms. But most were familiar with MFA as a process.
  - **Rec:** Explain verification in context by including what this step requires, like "verify your identity by uploading a photo ID" to help distinguish it from MFA.
- Most participants didn't understand what the term **VA online tools** meant, in the context of "VA.gov and other VA online tools" on the modal. Most paused and wondered about this term, slowing their progress through the task.
  - **Rec:** In CSP migration communications, avoid this catchall term as it could distract from the action. Instead, use language that more directly describes what Veterans will lose access to if they don't migrate, like "to manage your VA benefits and health care online."
- Most participants unfamiliar with **Login.gov** thought it was a VA service or a place to go, as opposed to a way to sign in
  - **Rec:** Better label Login.gov as a sign-in partner, so people understand it's not part of VA or a destination where you can access VA services
- Most participants said **upgrade** meant they would get additional benefits. Several said this word was confusing on the modal, because it wasn't cleary an "upgrade" in that sense.
  - **Rec:** Avoid this term in migration content. 
 
 **Content strategy-related findings**
 - To add

[Read the full proactive CSP migration study](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity/Research/2023-04%20Proactive%20CSP%20Migration/2023-04%20Proactive%20CSP%20Migration%20research%20findings.md)

## Content pages related to this topic

- [Sign in](https://www.va.gov/sign-in/)
- [Creating an account for VA.gov](https://www.va.gov/resources/creating-an-account-for-vagov/)
- [Signing in to VA.gov](https://www.va.gov/resources/signing-in-to-vagov/)
- [Verifying your identity on VA.gov](https://www.va.gov/resources/verifying-your-identity-on-vagov/)
- [DS Logon FAQs](https://www.va.gov/resources/ds-logon-faqs/)
- [Get a Premium My HealtheVet account](https://www.va.gov/resources/get-a-premium-my-healthevet-account/)
- [My HealtheVet FAQs](https://www.va.gov/resources/my-healthevet-faqs/)

## Other notes
