# VA content brief for sign in and identity verification

Created by the sitewide content and IA team for teams working on products related to sign in and identity verification.

**Have questions or feedback on this brief or want to add something?**
- Send us a slack in #sitewide-content-ia.

## Sections

- [Overview](#overview)
- [Related terminology](#related-terminology)
- [Content considerations specific to sign in and identity verification](#content-considerations-specific-to-sign-in-and-identity-verification)
- [Organic SEO and VA.gov search](#organic-seo-and-va.gov-search)
- [Content-specific research findings](#content-specific-research-findings)
- [Content pages related to this topic](#content-pages-related-to-this-topic)
- [Other notes](#other-notes)

## Overview

Speaking plainly, compassionately, and consistently across VA helps us build trust with Veterans, service members, and their family members. As we continue to move toward an omnichannel experience and multilingual content, consistency becomes even more important.  

This brief will help your team create content for your product that aligns with the VA.gov voice and content standards and that uses consistent language about sign in and identity verification. It will also help us all track content decisions so we can all stay aligned from discovery through post-launch iterations. This is a living document. 

[Read our top 10 plain language standards in the VA.gov content style guide for more](https://design.va.gov/content-style-guide/content-principles/plain-language)

## Related terminology

| Word or phrase | How we use this term | Notes | Where to find related language we use to define or describe this term in Veteran content | Official content style guide status | Date term added/last updated |
| -------------- | --------------- | --------------- | --------------- | --------------- | --------------- |
| **account** | We use this term to describe the account that a Veteran uses to sign in to VA.gov (such as "your Login.gov account"). | We don't use the phrase "your VA.gov account."  |  | In style guide Word list | 10.14.22 |
| **multifactor authentication** / **2-factor authentication** | We use these terms to describe the multifactor security process that Veterans must use when they sign in to VA.gov | Use "multifactor authentication" as the main term. Where space allow, we can include "This process is also sometimes called 2-factor authentication." |  | In style guide Word list | 10.14.22 |
| **My HealtheVet** |  | "My HealtheVet" is 2 words. Don’t italicize the “e” between “Health” and “Vet” in body copy,headlines, and user interface elements such as links, buttons, and navigation. The “e” is italicized only in the logo. |  | In style guide Word list | 10.14.22 |
| **sign in/sign out** | We always use "sign in" and "sign out" to describe the process of authenticating on VA.gov and other VA digital tools. | We don't use "log in"/"log out" or "sign on." |  | In style guide Word list | 10.14.22 |

## Content considerations specific to sign in and identity verification

### Encouraging Login.gov and ID.me (added 10.14.22)

We want to begin encouraging Veterans to create Login.gov or ID.me accounts, with an emphasis on Login.gov.

#### Here's language from the VA.gov website about the benefits of Login.gov and ID.me:

 > **Should I create a Login.gov or ID.me account to sign in to VA.gov?**
 > You can create either of these free accounts to sign in to VA.gov.
 > **Both Login.gov and ID.me offer these benefits:** 
 > - Access to all your VA benefits, services, and information in a single, secure account 
 > - A secure sign-in option that protects your privacy and complies with the latest federal security standards
 > - A single account to manage your other government benefits and services (like Social Security benefits or federal job applications)
 > 
 > **Here’s the difference between these 2 accounts:** 
 > - **Login.gov** is an account created, maintained, and secured by the U.S. government. It encrypts your stored information at 2 levels. Encryption translates your data into code that only you can access as the account holder. This means only you can access and change your information. 
 > - **ID.me** is an account created, maintained, and secured by a trusted technology partner. It uses bank-grade encryption to keep your personal info safe. It gives you control over which services can share your information.

#### And here's language from the TAP curriculum about creating a Login.gov account specifically: (added 10.14.22)

 > To manage your VA benefits online, we encourage you to create a Login.gov account now. 
 > Login.gov offers these benefits:
 >  - Access to VA benefits, services, and information in a single, secure account
 >  - A secure sign-in option that protects your privacy and complies with the latest federal security standards
 >  - A single account to manage your other government benefits and services (like Social Security benefits or federal job applications)
 >  - An account created, maintained, and secured by the U.S. government
 > 
 > At this time, you can also use your DS Logon, My HealtheVet, or ID.me account to sign in to VA.gov. But VA will soon no longer offer DS Logon as a sign-in option. And soon all VA websites will follow a new sign-in process through VA.gov with Login.gov as the recommended account.

## Organic SEO and VA.gov search

## Content-specific research findings

## Content pages related to this topic

- [Sign in](https://www.va.gov/sign-in/)
- [Signing in to VA.gov](https://www.va.gov/resources/signing-in-to-vagov/)
- [Verifying your identity on VA.gov](https://www.va.gov/resources/verifying-your-identity-on-vagov/)
- [How to get a Premium DS Logon account online](https://www.va.gov/resources/how-to-get-a-premium-ds-logon-account-online/)
- [DS Logon FAQs](https://www.va.gov/resources/ds-logon-faqs/)
- [Get a Premium My HealtheVet account](https://www.va.gov/resources/get-a-premium-my-healthevet-account/)
- [My HealtheVet FAQs](https://www.va.gov/resources/my-healthevet-faqs/)

## Other notes
