import React from 'react';
import ErrorableTextArea from './ErrorableTextArea';

export default function ErrorableTextAreaExample(props) {
  return (
    <ErrorableTextArea
      {...props}
      onValueChange={(e) => e}
      />
  );
}
