@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

.dependent-title {
    padding-bottom: 0;
    font-size: 1.1em;
    line-height: 1;
}

.dependent-name {
    border-bottom: 3px solid $color-primary;
    margin: 0 0 0.8em;
}
