name: Link check - lychee

on:
  push:

permissions:
  contents: read

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run lychee
        uses: lycheeverse/lychee-action@v1
        with:
          args: >
            --verbose
            --no-progress
            products/identity/
