name: Request Slack Removal for Offboarding Users
on:
  issue_comment:
    types: [created]
jobs:
  check_comments:
    runs-on: ubuntu-latest
    name: Check comments for /request
    steps:
      - name: Check for command
        uses: xt0rted/slash-command-action@v1
        if: |
          github.event_name == 'issue_comment' && github.event.action == 'created'
          && startsWith(github.event.comment.body, '/request')
        id: request
        with:
          repo-token: ${{ secrets.BOT_GITHUB_TOKEN }}
          command: request
          reaction: "true"
          reaction-type: "eyes"
          allow-edits: "false"

      - name: Send Slack message
        uses: archive/github-actions-slack@v1.0.3
        if: |
          github.event_name == 'issue_comment' && github.event.action == 'created'
          && startsWith(github.event.comment.body, '/request')
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: vsp-slack-user-management
          slack-text: Hello! Please remove ${{ steps.request.outputs.command-arguments }} from DSVA Slack based on issue URL ${{ github.event.issue.html_url }} 
          slack-optional-as_user: "false"
          slack-optional-icon_emoji: ":robot_face:"
          slack-optional-unfurl_links: "false"
          slack-optional-unfurl_media: "false"
